<section id="contribution">
  <div
    class="container py-9 lg:py-10 xl:pt-[60px] xxl:pb-14 xxxl:py-14 xxxl:px-20"
  >
    <h2 class="mb-10 text-center lg:mb-12 xxl:mb-14">
      Запрошуємо до співпраці
    </h2>
    <div class="flex flex-col items-start lg:flex-row lg:justify-evenly">
      <article class="mb-10 lg:mb-0">
        <div
          data-card
          class="lg:w-[325px] xl:w-[386px] xxl:w-[467px] xxxl:w-[560px]"
        >
          <h3
            class="flex justify-center items-center py-[41px] px-[68px] md:py-[52px] md:px-[198px] rounded-lg bg-green text-white text-center mb-5 md:mb-4 lg:py-[23px] lg:px-0 lg:mb-8 xl:mb-6 xl:font-normal xl:leading-[48px] xl:py-8 xxl:py-12"
          >
            Волонтери
          </h3>
          <div
            class="py-[30px] bg-beige md:pr-[274px] md:pb-[45px] lg:py-10 lg:px-6 xl:py-11 xl:pr-7 xl:pl-14 xxl:pt-11 xxl:pb-14 xxl:pr-11"
          >
            <p
              class="flex flex-col pl-5 pr-[9px] mb-[30px] lg:mb-6 xl:mb-14 list-outside list-disc text-lg lg:text-xl leading-[1.13] lg:leading-[1.2] font-normal tracking-[0.9px] lg:tracking-[1px] lg:px-0 xl:font-medium xl:leading-7 xxl:text-3xl xxl:font-normal xxxl:mb-11"
            >
              Якщо Ви відчуваєте потребу поділитися своїми знаннями, навичками і
              талантами - запрошуємо до команди! Разом ми зробимо більше
            </p>
          
            <button
              onclick="readMore(event)"
              type="button"
              class="flex font-semibold font-['Manrope'] underline text-[20px] leading-[1.1] xxl:text-2xl"
            >
              Дізнатись більше
            </button>
          </div>
        </div>
          <include src="./partials/contribution/volunteer.html"></include>
      </article>
      <article class="mb-10 lg:mb-0">
        <div
          data-card
          class="lg:w-[325px] xl:w-[386px] xxl:w-[467px] xxxl:w-[560px]"
        >
          <h3
            class="flex justify-center items-center py-[41px] px-[68px] md:py-[52px] md:px-[198px] rounded-lg bg-green text-white text-center mb-5 md:mb-4 lg:py-[23px] lg:px-0 lg:mb-8 xl:mb-6 xl:font-normal xl:leading-[48px] xl:py-8 xxl:py-12"
          >
            Ментори
          </h3>
          <div
            class="py-[30px] bg-beige md:pr-[274px] md:pb-[45px] lg:py-10 lg:px-6 xl:py-11 xl:pr-7 xl:pl-14 xxl:pt-11 xxl:pb-14 xxl:pr-11"
          >
            <p
              class="flex flex-col pl-5 pr-[9px] mb-[30px] lg:mb-6 xl:mb-14 list-outside list-disc text-lg lg:text-xl leading-[1.13] lg:leading-[1.2] font-normal tracking-[0.9px] lg:tracking-[1px] lg:px-0 xl:font-medium xl:leading-7 xxl:text-3xl xxl:font-normal xxxl:mb-11"
            >
              Ви можете записати надихайюче відео для сільських дітей або
              при]хати і зустрітися з людьми,, які будуть вдячні почути Вас і
              надихнутися Вашим досвідом та досягненнями!
            </p>

            <button
              onclick="readMore(event)"
              type="button"
              class="flex font-semibold font-['Manrope'] underline text-[20px] leading-[1.1] xxl:text-2xl"
            >
              Дізнатись більше
            </button>
          </div>
        </div>
        <include src="./partials/contribution/mentors.html"></include>
      </article>
      <article class="mb-10 lg:mb-0">
        <div
          data-card
          class="lg:w-[325px] xl:w-[386px] xxl:w-[467px] xxxl:w-[560px]"
        >
          <h3
            class="flex justify-center items-center py-[41px] px-[68px] md:py-[52px] md:px-[198px] rounded-lg bg-green text-white text-center mb-5 md:mb-4 lg:py-[23px] lg:px-0 lg:mb-8 xl:mb-6 xl:font-normal xl:leading-[48px] xl:py-8 xxl:py-12"
          >
            Партнери
          </h3>
          <div
            class="py-[30px] bg-beige md:pr-[274px] md:pb-[45px] lg:py-10 lg:px-6 xl:py-11 xl:pr-7 xl:pl-14 xxl:pt-11 xxl:pb-14 xxl:pr-11"
          >
            <p
              class="flex flex-col pl-5 pr-[9px] mb-[30px] lg:mb-6 xl:mb-14 list-outside list-disc text-lg lg:text-xl leading-[1.13] lg:leading-[1.2] font-normal tracking-[0.9px] lg:tracking-[1px] lg:px-0 xl:font-medium xl:leading-7 xxl:text-3xl xxl:font-normal xxxl:mb-11"
            >
              Станьте партнерами ГО ЗЕРНО і долучіться до розвитку щасливих
              сільських громад! Ви можете долучитися своїм досвідом,товаром,
              якій виробляєте, або ж матеріальною підтримкою актуальних
              проєктів! Станьте партнерами ГО ЗЕРНО і долучіться до розвитку
            </p>

            <button
              onclick="readMore(event)"
              type="button"
              class="flex font-semibold font-['Manrope'] underline text-[20px] leading-[1.1] xxl:text-2xl"
            >
              Дізнатись більше
            </button>
          </div>
        </div>
        <include src="./partials/contribution/partners.html"></include>
      </article>
    </div>
  </div>
</section>
<script>
  function readMore(event) {
    const btn = event.target;
    const card = btn.parentNode.parentNode;
    const cardMore = card.parentNode.querySelector('[data-more]');
    card.classList.add('hidden');
    cardMore.classList.remove('hidden');
  }

  function closeMore(event) {
    const btn = event.target;
    const cardMore = btn.parentNode.parentNode;
    const card = cardMore.parentNode.querySelector('[data-card]');
    card.classList.remove('hidden');
    cardMore.classList.add('hidden');
  }
</script>
