<div
  data-more="mentors"
  class="hidden py-[30px] bg-beige md:pr-[274px] md:pb-[45px] lg:py-10 lg:px-6 xl:py-11 xl:pr-7 xl:pl-14 xxl:pt-11 xxl:pb-14 xxl:pr-11"
>
  <h4 class="text-3xl font-['Manrope'] mb-8">
    Що може входити в обов’язки ментора
  </h4>
  <img class="mb-8" src="./images/card.png" alt="partners" />
  <ul class="mb-6 text-lg tracking-[0.9px]">
    <li class="mb-4 last:mb-0 flex items-start">
      <div class="mr-[3px] mt-1">
        <svg aria-hidden="true" class="w-[20px] h-[20px] mr-[3px]">
          <use href="images/sprite.svg#icon-check"></use>
        </svg>
      </div>
      <p>Проводити семінари</p>
    </li>
    <li class="mb-4 last:mb-0 flex items-start">
      <div class="mr-[3px] mt-1">
        <svg aria-hidden="true" class="w-[20px] h-[20px] mr-[3px]">
          <use href="images/sprite.svg#icon-check"></use>
        </svg>
      </div>
      <p>Давати наставництво</p>
    </li>
    <li class="mb-4 last:mb-0 flex items-start">
      <div class="mr-[3px] mt-1">
        <svg aria-hidden="true" class="w-[20px] h-[20px] mr-[3px]">
          <use href="images/sprite.svg#icon-check"></use>
        </svg>
      </div>
      <p>Розвивати лідерські навички учасників</p>
    </li>
    <li class="mb-4 last:mb-0 flex items-start">
      <div class="mr-[3px] mt-1">
        <svg aria-hidden="true" class="w-[20px] h-[20px] mr-[3px]">
          <use href="images/sprite.svg#icon-check"></use>
        </svg>
      </div>
      <p>Вирішення підліткових питань</p>
    </li>
    <li class="mb-4 last:mb-0 flex items-start">
      <div class="mr-[3px] mt-1">
        <svg aria-hidden="true" class="w-[20px] h-[20px] mr-[3px]">
          <use href="images/sprite.svg#icon-check"></use>
        </svg>
      </div>
      <p>Надавати корисні матеріали</p>
    </li>
    <li class="mb-4 last:mb-0 flex items-start">
      <div class="mr-[3px] mt-1">
        <svg aria-hidden="true" class="w-[20px] h-[20px] mr-[3px]">
          <use href="images/sprite.svg#icon-check"></use>
        </svg>
      </div>
      <p>Консультувати</p>
    </li>
  </ul>
  <p class="flex flex-col text-lg tracking-[0.9px] mb-6">
    Ментор - це досвідчена людина, яка надає підтримку, поради та наставництво
    менш досвідченим людям, зазвичай в межах професійного або особистісного
    розвитку. Ментор допомагає розвивати навички, вдосконалювати знання та
    досягати поставлених цілей. Нам дуже потрібні експерти в різних сферах для
    розвитку молоді, дітей та жінок.
  </p>

  <button
    closeMoreBtn="mentors"
    type="button"
    class="flex underline text-[18px] tracking-[0.9px] ml-auto"
  >
    Закрити
  </button>
</div>
