<div
  data-more="mentors"
  class="hidden container py-[30px] bg-beige lg:w-[984px] lg:py-10 lg:px-[10px] lg:rounded-lg xl:ml-[-398px] xl:lg:w-[1180px] lg:ml-[-330px] xl:py-11 xl:pr-[20px] xl:pl-[20px] xxl:lg:w-[1420px] xxl:ml-[-476px] xxl:pt-11 xxl:pb-[52px] xxl:pr-10 xxl:pl-5 xxxl:w-[1720px] xxxl:ml-[-578px]"
>
  <h4
    class="text-3xl font-['Manrope'] mb-8 sm:mb-10 md:text-center lg:text-start"
    data-lang="mentors_1"
  >
    Що може входити в обов’язки ментора
  </h4>
  <div class="lg:flex lg:justify-between lg:mb-4  xxl:mb-[18px]">
    <img
      class="md:w-[706px] md:mx-auto lg:w-[265px] lg:h-[184px] lg:mx-0 xxl:w-[410px]"
      src="./images/card.png"
      alt="partners"
    />
    <ul class="mt-8 sm:my-[30px] text-lg tracking-[0.9px] lg:m-0 lg:w-[272px] xxl:w-[405px] xxl:text-2xl ">
      <li class="mb-4 last:mb-0 flex items-start md:mb-6 lg:mb-3 xxl:mb-[27px]">
        <div class="mr-[3px] mt-1">
          <svg aria-hidden="true" class="w-[20px] h-[20px] mr-[3px]">
            <use href="images/sprite.svg#icon-check"></use>
          </svg>
        </div>
        <p data-lang="mentors_2">Проводити семінари</p>
      </li>
      <li class="mb-4 last:mb-0 flex items-start md:mb-6 lg:mb-3 xxl:mb-[27px]">
        <div class="mr-[3px] mt-1">
          <svg aria-hidden="true" class="w-[20px] h-[20px] mr-[3px]">
            <use href="images/sprite.svg#icon-check"></use>
          </svg>
        </div>
        <p data-lang="mentors_3">Давати наставництво</p>
      </li>
      <li class="mb-4 last:mb-0 flex items-start md:mb-6 lg:mb-3 xxl:mb-[27px]">
        <div class="mr-[3px] mt-1">
          <svg aria-hidden="true" class="w-[20px] h-[20px] mr-[3px]">
            <use href="images/sprite.svg#icon-check"></use>
          </svg>
        </div>
        <p data-lang="mentors_4">Розвивати лідерські навички учасників</p>
      </li>
      <li class="mb-4 last:mb-0 flex items-start md:mb-6 lg:mb-3 xxl:mb-[27px]">
        <div class="mr-[3px] mt-1">
          <svg aria-hidden="true" class="w-[20px] h-[20px] mr-[3px]">
            <use href="images/sprite.svg#icon-check"></use>
          </svg>
        </div>
        <p data-lang="mentors_5">Вирішення підліткових питань</p>
      </li>
      <li class="mb-4 last:mb-0 flex items-start md:mb-6 lg:mb-3 xxl:mb-[27px]">
        <div class="mr-[3px] mt-1">
          <svg aria-hidden="true" class="w-[20px] h-[20px] mr-[3px]">
            <use href="images/sprite.svg#icon-check"></use>
          </svg>
        </div>
        <p data-lang="mentors_6">Надавати корисні матеріали</p>
      </li>
      <li class="mb-4 last:mb-0 flex items-start md:mb-6 lg:mb-3 xxl:mb-[27px]">
        <div class="mr-[3px] mt-1">
          <svg aria-hidden="true" class="w-[20px] h-[20px] mr-[3px]">
            <use href="images/sprite.svg#icon-check"></use>
          </svg>
        </div>
        <p data-lang="mentors_7">Консультувати</p>
      </li>
    </ul>
    <div
      class="flex flex-col text-lg tracking-[0.9px] mb-6 sm:mb-[20px] lg:w-[385px] lg:mb-0 xxl:w-[483px] xxl:text-2xl"
    >
      <p class="text-[#727D57] contents" data-lang="mentors_8">Ментор</p>
      <p class="contents" data-lang="mentors_9">
        - це досвідчена людина, яка надає підтримку, поради та наставництво менш
        досвідченим людям, зазвичай в межах професійного або особистісного
        розвитку. Ментор допомагає розвивати навички, вдосконалювати знання та
        досягати поставлених цілей. Нам дуже потрібні експерти в різних сферах
        для розвитку молоді, дітей та жінок.
      </p>
    </div>
  </div>
  <button
    closeMoreBtn="mentors"
    type="button"
    class="flex underline text-[18px] tracking-[0.9px] ml-auto  xxl:text-2xl "
    data-lang="mentors_10"
  >
    Закрити
  </button>
</div>
