<div
  data-more="partners"
  class="hidden container py-[30px] bg-beige lg:w-[990px] lg:ml-[-660px] lg:py-10 lg:px-6 xl:lg:w-[1180px] xl:ml-[-785px] xl:py-11 xl:pr-[20px] xl:pl-[20px] xxl:lg:w-[1430px] xxl:ml-[-955px] xxl:pt-11 xxl:pb-14 xxl:pr-11 xxxl:w-[1725px] xxxl:ml-[-1155px]"
>
  <h4
    class="text-3xl font-['Manrope'] mb-8 sm:mb-10 md:text-center lg:text-start"
  >
    Що може входити в обов’язки партнера
  </h4>
  <div class="lg:flex lg:justify-around lg:mb-4">
    <img
      class="md:w-[706px] md:mx-auto lg:w-[265px] lg:h-[184px] lg:mx-0 lg:mr-6"
      src="./images/card.png"
      alt="partners"
    />
    <ul class="mt-8 sm:my-[30px] text-lg tracking-[0.9px] lg:m-0 lg:mr-9">
      <li class="mb-4 last:mb-0 flex items-start md:mb-6 lg:mb-3">
        <div class="mr-[3px] mt-1">
          <svg aria-hidden="true" class="w-[20px] h-[20px] mr-[3px]">
            <use href="images/sprite.svg#icon-check"></use>
          </svg>
        </div>
        <p>Фінансова підтримка</p>
      </li>
      <li class="mb-4 last:mb-0 flex items-start md:mb-6 lg:mb-3">
        <div class="mr-[3px] mt-1">
          <svg aria-hidden="true" class="w-[20px] h-[20px] mr-[3px]">
            <use href="images/sprite.svg#icon-check"></use>
          </svg>
        </div>
        <p>Матеріальна підтримка</p>
      </li>
      <li class="mb-4 last:mb-0 flex items-start md:mb-6 lg:mb-3">
        <div class="mr-[3px] mt-1">
          <svg aria-hidden="true" class="w-[20px] h-[20px] mr-[3px]">
            <use href="images/sprite.svg#icon-check"></use>
          </svg>
        </div>
        <p>Підтримка загального добробуту</p>
      </li>
      <li class="mb-4 last:mb-0 flex items-start md:mb-6 lg:mb-3">
        <div class="mr-[3px] mt-1">
          <svg aria-hidden="true" class="w-[20px] h-[20px] mr-[3px]">
            <use href="images/sprite.svg#icon-check"></use>
          </svg>
        </div>
        <p>Підтримка культурного розвитку</p>
      </li>
      <li class="mb-4 last:mb-0 flex items-start md:mb-6 lg:mb-3">
        <div class="mr-[3px] mt-1">
          <svg aria-hidden="true" class="w-[20px] h-[20px] mr-[3px]">
            <use href="images/sprite.svg#icon-check"></use>
          </svg>
        </div>
        <p>Облаштування приміщення</p>
      </li>
      <li class="mb-4 last:mb-0 flex items-start md:mb-6 lg:mb-3">
        <div class="mr-[3px] mt-1">
          <svg aria-hidden="true" class="w-[20px] h-[20px] mr-[3px]">
            <use href="images/sprite.svg#icon-check"></use>
          </svg>
        </div>
        <p>Фінансування поточних витрат</p>
      </li>
    </ul>
    <div
      class="flex flex-col text-lg tracking-[0.9px] mb-6 sm:mb-[20px] lg:w-[380px] lg:mb-0"
    >
      <p class="text-[#727D57] contents">Партнери</p>
      - це спонсори та меценати або організація які надають фінансову чи
      матеріальну підтримку для реалізації проектів подій чи діяльності
      спільноти. Партнери надають фінансову підтримку в обмін на рекламу чи інші
      вигоди, що пов'язані з подією чи проєктом або без прямої вигоди вкладають
      внесок у розвиток організації.
    </div>
  </div>
  <button
    closeMoreBtn="partners"
    type="button"
    class="flex underline text-[18px] tracking-[0.9px] ml-auto"
  >
    Закрити
  </button>
</div>
