<article
  data-more="partners"
  class="hidden lg:w-[325px] xl:w-[386px] xxl:w-[467px] xxxl:w-[560px]"
>
  <h3
    class="flex justify-center items-center py-[41px] px-[68px] md:py-[52px] md:px-[198px] rounded-lg bg-green text-white text-center mb-5 md:mb-4 lg:py-[23px] lg:px-0 lg:mb-8 xl:mb-6 xl:font-normal xl:leading-[48px] xl:py-8 xxl:py-12"
  >
    Партнери
  </h3>
  <div
    class="py-[30px] bg-beige md:pr-[274px] md:pb-[45px] lg:py-10 lg:px-6 xl:py-11 xl:pr-7 xl:pl-14 xxl:pt-11 xxl:pb-14 xxl:pr-11"
  >
    <h4 class="text-3xl font-['Manrope'] mb-8">
      Що може входити в обов’язки партнера
    </h4>
    <img class="mb-8" src="./images/card.png" alt="partners" />
    <ul class="mb-6 text-lg tracking-[0.9px]">
      <li class="mb-4 last:mb-0 flex items-start">
        <div class="mr-[3px] mt-1">
          <svg aria-hidden="true" class="w-[20px] h-[20px] mr-[3px]">
            <use href="images/sprite.svg#icon-check"></use>
          </svg>
        </div>
        <p>Фінансова підтримка</p>
      </li>
      <li class="mb-4 last:mb-0 flex items-start">
        <div class="mr-[3px] mt-1">
          <svg aria-hidden="true" class="w-[20px] h-[20px] mr-[3px]">
            <use href="images/sprite.svg#icon-check"></use>
          </svg>
        </div>
        <p>Матеріальна підтримка</p>
      </li>
      <li class="mb-4 last:mb-0 flex items-start">
        <div class="mr-[3px] mt-1">
          <svg aria-hidden="true" class="w-[20px] h-[20px] mr-[3px]">
            <use href="images/sprite.svg#icon-check"></use>
          </svg>
        </div>
        <p>Підтримка загального добробуту</p>
      </li>
      <li class="mb-4 last:mb-0 flex items-start">
        <div class="mr-[3px] mt-1">
          <svg aria-hidden="true" class="w-[20px] h-[20px] mr-[3px]">
            <use href="images/sprite.svg#icon-check"></use>
          </svg>
        </div>
        <p>Підтримка культурного розвитку</p>
      </li>
      <li class="mb-4 last:mb-0 flex items-start">
        <div class="mr-[3px] mt-1">
          <svg aria-hidden="true" class="w-[20px] h-[20px] mr-[3px]">
            <use href="images/sprite.svg#icon-check"></use>
          </svg>
        </div>
        <p>Облаштування приміщення</p>
      </li>
      <li class="mb-4 last:mb-0 flex items-start">
        <div class="mr-[3px] mt-1">
          <svg aria-hidden="true" class="w-[20px] h-[20px] mr-[3px]">
            <use href="images/sprite.svg#icon-check"></use>
          </svg>
        </div>
        <p>Фінансування поточних витрат</p>
      </li>
    </ul>
    <p class="flex flex-col text-lg tracking-[0.9px] mb-6">
      Партнери - це спонсори та меценати або організація які надають фінансову
      чи матеріальну підтримку для реалізації проектів подій чи діяльності
      спільноти. Партнери надають фінансову підтримку в обмін на рекламу чи інші
      вигоди, що пов'язані з подією чи проєктом або без прямої вигоди вкладають
      внесок у розвиток організації.
    </p>

    <button
      closeMoreBtn="partners"
      type="button"
      class="flex underline text-[18px] tracking-[0.9px] ml-auto"
    >
      Закрити
    </button>
  </div>
</article>
