<div
  data-more="volunteers"
  class="hidden container py-[30px] bg-beige lg:w-[984px] lg:py-10 lg:px-[10px] lg:rounded-lg xl:lg:w-[1180px] xl:py-11 xl:pr-[20px] xl:pl-[20px] xxl:lg:w-[1420px] xxl:pt-11 xxl:pb-[52px] xxl:pr-10 xxl:pl-5 xxxl:w-[1725px]"
>
  <h4
    class="text-3xl font-['Manrope'] mb-8 sm:mb-10 md:text-center lg:text-start"
    data-lang="volonteer_1"
  >
    Що може входити у обов’язки волонтера
  </h4>
  <div class="lg:flex lg:justify-between lg:mb-4  xxl:mb-[18px]">
    <img
      class="md:w-[706px] md:mx-auto lg:w-[265px] lg:h-[184px] lg:mx-0 xl:m-0 xxl:w-[410px]"
      src="./images/card.png"
      alt="partners"
    />
    <ul
      class="mt-8 sm:my-[30px] text-lg tracking-[0.9px] lg:m-0 xl:m-0 lg:w-[272px] xxl:w-[405px] xxl:text-2xl"
    >
      <li class="mb-4 last:mb-0 flex items-start md:mb-6 lg:mb-3 xxl:mb-[27px]">
        <div class="mr-[3px] mt-1">
          <svg aria-hidden="true" class="w-[20px] h-[20px] mr-[3px]">
            <use href="images/sprite.svg#icon-check"></use>
          </svg>
        </div>
        <p data-lang="volonteer_2">Створення контенту</p>
      </li>
      <li class="mb-4 last:mb-0 flex items-start md:mb-6 lg:mb-3 xxl:mb-[27px]">
        <div class="mr-[3px] mt-1">
          <svg aria-hidden="true" class="w-[20px] h-[20px] mr-[3px]">
            <use href="images/sprite.svg#icon-check"></use>
          </svg>
        </div>
        <p data-lang="volonteer_3">Вести соцмережі</p>
      </li>
      <li class="mb-4 last:mb-0 flex items-start md:mb-6 lg:mb-3 xxl:mb-[27px]">
        <div class="mr-[3px] mt-1">
          <svg aria-hidden="true" class="w-[20px] h-[20px] mr-[3px]">
            <use href="images/sprite.svg#icon-check"></use>
          </svg>
        </div>
        <p data-lang="volonteer_4">Організаційні питання</p>
      </li>
      <li class="mb-4 last:mb-0 flex items-start md:mb-6 lg:mb-3 xxl:mb-[27px]">
        <div class="mr-[3px] mt-1">
          <svg aria-hidden="true" class="w-[20px] h-[20px] mr-[3px]">
            <use href="images/sprite.svg#icon-check"></use>
          </svg>
        </div>
        <p data-lang="volonteer_5">Робота руками</p>
      </li>
      <li class="mb-4 last:mb-0 flex items-start md:mb-6 lg:mb-3 xxl:mb-[27px]">
        <div class="mr-[3px] mt-1">
          <svg aria-hidden="true" class="w-[20px] h-[20px] mr-[3px]">
            <use href="images/sprite.svg#icon-check"></use>
          </svg>
        </div>
        <p data-lang="volonteer_6">Комунікація з учасниками</p>
      </li>
      <li class="mb-4 last:mb-0 flex items-start md:mb-6 lg:mb-3 xxl:mb-[27px]">
        <div class="mr-[3px] mt-1">
          <svg aria-hidden="true" class="w-[20px] h-[20px] mr-[3px]">
            <use href="images/sprite.svg#icon-check"></use>
          </svg>
        </div>
        <p data-lang="volonteer_7">Листування</p>
      </li>
    </ul>
    <div
      class="flex flex-col text-lg tracking-[0.9px] mb-6 sm:mb-[20px] lg:w-[385px] lg:mb-0 xxl:w-[483px] xxl:text-2xl"
    >
      <p class="text-[#727D57] contents" data-lang="volonteer_8" >Волонтер</p>
      <p class="contents" data-lang="volonteer_9">
        - це добровільна участь у роботі або проєкті на безоплатній основі з
        метою допомогти та підтримки спільноти та її ідеї. Якщо ви хочете стати
        волонтером та у вас є ідеї для співпраці, то негайно заповнюйте форму
        для співпраці, а наш менеджер протягом дня вам зателефонує. Ми цінуємо
        ваше бажання долучитися до нашого проєкту та раді вислухати будь-які
        пропозиції.
      </p>
    </div>
  </div>
  <button
    closeMoreBtn="volunteers"
    type="button"
    class="flex underline text-[18px] tracking-[0.9px] ml-auto xxl:text-2xl"
    data-lang="volonteer_10"
  >
    Закрити
  </button>
</div>
