<header
  id="header"
  class="border-b-[1px] border-green lg:border-none text-green relative"
>
  <div class="hidden lg:block border-b-[1px] border-green">
    <ul class="container lg:flex xl:text-xl xxl:text-2xl">
      <li class="grow">
        <address>
          <a
            href="https://www.google.com/maps/place/%D0%97%D0%B1%D0%B8%D0%BD%D0%B8,+%D0%97%D0%B0%D0%BA%D0%B0%D1%80%D0%BF%D0%B0%D1%82%D1%81%D1%8C%D0%BA%D0%B0+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+89120/@48.7901548,22.9451309,16.85z/data=!4m6!3m5!1s0x47399dca77aa9525:0x99daeb3b889abdd8!8m2!3d48.7902308!4d22.946908!16s%2Fg%2F120jr7kt?hl=uk-UK&entry=ttu"
            target="_blank"
            class="flex gap-2.5 py-4 xl:py-6 not-italic transition-opacity hover:opacity-50"
          >
            <svg class="w-6 h-6 xl:w-8 xl:h-8">
              <use href="images/sprite.svg#icon-location"></use>
            </svg>
            <span data-lang="header_text_1">
              c.Збини 29, Мукачівській р-н, Закарпатська обл.</span
            >
          </a>
        </address>
      </li>
      <li class="mr-11">
        <a
          href="tel:+380631870301"
          class="flex gap-2.5 py-4 xl:py-6 transition-opacity hover:opacity-50"
        >
          <svg class="w-6 h-6 xl:w-8 xl:h-8">
            <use href="images/sprite.svg#icon-phone"></use>
          </svg>
          +38 063 187 03 01
        </a>
      </li>
      <li>
        <a
          href="mailto:ijhnfjnvfjn@gmail.com"
          class="flex gap-2.5 py-4 xl:py-6 transition-opacity hover:opacity-50"
        >
          <svg class="w-6 h-6 xl:w-8 xl:h-8">
            <use href="images/sprite.svg#icon-mail"></use>
          </svg>
          ijhnfjnvfjn@gmail.com
        </a>
      </li>
    </ul>
  </div>
  <div
    class="container flex justify-between items-center xl:py-5 xl:justify-start"
  >
    <svg
      class="w-[114px] h-[38px] lg:w-[180px] lg:h-[60px] xl:w-[211px] xl:h-[70px] xl:mr-20 xxl:w-[228] xxl:h-[76px] xxl:mr-28"
    >
      <use href="images/sprite.svg#icon-zernoLogo"></use>
    </svg>
    <nav class="hidden xl:inline-block grow">
      <ul class="flex gap-6 text-xl xxl:text-2xl">
        <li>
          <a
            href="#missions"
            class="block py-3.5 transition-opacity hover:opacity-50"
            data-lang="header_text_2"
            >Про нас</a
          >
        </li>
        <li>
          <a
            href="#activities"
            class="block py-3.5 transition-opacity hover:opacity-50"
            data-lang="header_text_3"
            >Проєкти</a
          >
        </li>
        <li>
          <a
            href="#contacts"
            class="block py-3.5 transition-opacity hover:opacity-50"
            data-lang="header_text_4"
            >Контакти</a
          >
        </li>
        <li>
          <a
            href="#contribution"
            class="block py-3.5 transition-opacity hover:opacity-50"
            data-lang="header_text_5"
            >Співпраця</a
          >
        </li>
      </ul>
    </nav>
    <div class="hidden lg:inline-block xl:mr-6 xxxl:mr-12">
      <button
        donat-open-btn
        type="button"
        class="bg-greenBTN text-white dark:text-beige text-[22px] py-[14px] lg:py-[4px] xl:py-[9px] xxl:py-[14px] rounded-lg sm:px-[23px]  lg:text-[22px] xl:text-2xl xxl:text-[34px] w-full sm:w-[400px] lg:w-[260px] xxl:w-[360px] xxxl:w-[410px] outline-none transition-all hover:outline-2 hover:outline-offset-4 hover:outline-greenBTN"
        data-lang="header_text_0"
      >
        Підтримати проєкт
      </button>
    </div>
    <div class="inline-flex gap-[30px] lg:gap-[50px]">
      <div class="relative inline-flex items-center gap-3">
        <include src="./partials/header/themeBtn.html"></include>
        <include src="./partials/header/langSwitch.html"></include>
      </div>
      <button
        class="py-2.5 lg:py-[26px] xl:hidden"
        type="button"
        aria-label="Open menu"
        data-menu-toggler
      >
        <svg class="w-11 h-11">
          <use href="images/sprite.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
  </div>
  <include src="./partials/header/menu.html"></include>
</header>
