<div class="language-dropdown relative flex items-center">
  <button
    type="button"
    aria-label="Switch language"
    class="text-green text-3xl lg:text-xl flex gap-2 items-center transition-opacity rounded-lg"
  >
    <span>UA</span>
    <svg class="w-5 h-5">
      <use href="images/sprite.svg#icon-arrowD"></use>
    </svg>
  </button>

  <div
    class="language-options pl-4 pr-7 pt-3 pb-4 lg:pt-2 xl:pl-3 absolute top-[85%] left-[-12px] xl:left-[-10px] text-green text-3xl lg:text-xl transition-opacity bg-white dark:bg-darkTheme rounded-lg hidden z-[51]"
  >
    <button id="uaBtn" class="hover:text-green">UA</button>
    <button id="enBtn" class="hover:text-green">EN</button>
  </div>
</div>
