<div class="language-dropdown relative flex items-center">
  <button
    type="button"
    aria-label="Switch language"
    class="text-green text-3xl lg:text-xl flex gap-2 items-center transition-opacity rounded-lg"
  >
    <span>UA</span>
    <svg class="w-5 h-5">
      <use href="images/sprite.svg#icon-arrowD"></use>
    </svg>
  </button>

  <div
    class="language-options lg:pt-0 xl:pt-4 absolute top-[82%] right-2 text-green text-3xl lg:text-xl p-5 transition-opacity bg-white dark:bg-darkTheme rounded-lg hidden z-[51]"
  >
    <button id="uaBtn" class="hover:text-green">UA</button>
    <button id="enBtn" class="hover:text-green">EN</button>
  </div>
</div>
