<section class='container'>
  <h1 class='text-black text-center'>Що ми робимо</h1>
  <div>
    <div class='w-48 text-center text-green text-2xl border-[0.5px] border-green rounded-3xl px-4 py-2'>Для дітей</div>
  </div>
  <div class="swiper activitiesSwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class='border-green border-[1px] rounded-lg w-fit p-4'>
          <img src='images/activities-mock.jpg' alt='mock'>
          <p>М/К “Виготовлення мотанки” </p>
          <span>діти  4-9 років</span>
          <p>Авьттпдррпдпожлоо апжпдпдржжророжд аппппо пжрржжржржрлржртлитлжи ажалмдссммдмсд</p>
          <div>
            <svg class=''>
              <use href='images/sprite.svg#icon-question'></use>
            </svg>
            <span>За подробицями завітай у наш <a href='' class='text-blue'>telegram</a></span>
          </div>
          <div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
      <div class="swiper-slide">Slide 4</div>
      <div class="swiper-slide">Slide 5</div>
      <div class="swiper-slide">Slide 6</div>
      <div class="swiper-slide">Slide 7</div>
      <div class="swiper-slide">Slide 8</div>
      <div class="swiper-slide">Slide 9</div>
    </div>
    <div class="swiper-scrollbar"></div>
  </div>
</section>