<section
  id="activities"
  class="activities container px-20 py-[120px] max-xxl:px-3 py-[100px] max-xl:py-[70px] max-xl:py-[50px]"
>
  <h2 class="text-black text-center mb-14">Що ми робимо</h2>
  <div class="container px-16 max-xxxl:px-[73px] max-xxl:px-0">
    <div class="categories flex gap-4 mb-12 max-xl:mb-10 max-lg:hidden">
      <button
        class="active w-48 text-center text-green text-2xl border-[0.5px] border-green rounded-3xl px-4 py-2 max-xl:text-base max-xl:w-fit"
      >
        Для дітей
      </button>
      <button
        class="w-48 text-center text-green text-2xl border-[0.5px] border-green rounded-3xl px-4 py-2 max-xl:text-base max-xl:w-fit"
      >
        Для жінок
      </button>
      <button
        class="w-48 text-center text-green text-2xl border-[0.5px] border-green rounded-3xl px-4 py-2 max-xl:text-base max-xl:w-fit"
      >
        Містецтво
      </button>
      <button
        class="w-48 text-center text-green text-2xl border-[0.5px] border-green rounded-3xl px-4 py-2 max-xl:text-base max-xl:w-fit"
      >
        Дозвілля
      </button>
      <button
        class="text-center text-green text-2xl border-[0.5px] border-green rounded-3xl px-4 py-2 max-xl:text-base max-xl:w-fit"
      >
        Екологія та довкілля
      </button>
    </div>
    <button class="filter hidden max-lg:inline-block">
      <svg class="w-11 h-11">
        <use href="images/sprite.svg#icon-filter"></use>
      </svg>
    </button>
    <div class="swiper activitiesSwiper max-xxl:mx-3">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="ml-2 border-green border-[1px] rounded-lg w-fit p-4">
            <img class="mb-4" src="images/activities-mock.jpg" alt="mock" />
            <p class="text-xl">М/К “Виготовлення мотанки”</p>
            <span
              class="inline-block bg-yellow text-white rounded-lg text-sm p-2 my-2 text-center"
              >діти 4-9 років</span
            >
            <p class="max-w-[360px] mb-6">
              Авьттпдррпдпожлоо апжпдпдржжророжд аппппо пжрржжржржрлржртлитлжи
              ажалмдссммдмсд
            </p>
            <div class="flex items-center gap-2">
              <svg class="w-7 h-7">
                <use href="images/sprite.svg#icon-question"></use>
              </svg>
              <span
                >За подробицями завітай у наш
                <a href="" class="text-blue cursor-pointer">telegram</a></span
              >
            </div>
            <div></div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="ml-2 border-green border-[1px] rounded-lg w-fit p-4">
            <img class="mb-4" src="images/activities-mock.jpg" alt="mock" />
            <p class="text-xl">М/К “Виготовлення мотанки”</p>
            <span
              class="inline-block bg-yellow text-white rounded-lg text-sm p-2 my-2 text-center"
              >діти 4-9 років</span
            >
            <p class="max-w-[360px] mb-6">
              Авьттпдррпдпожлоо апжпдпдржжророжд аппппо пжрржжржржрлржртлитлжи
              ажалмдссммдмсд
            </p>
            <div class="flex items-center gap-2">
              <svg class="w-7 h-7">
                <use href="images/sprite.svg#icon-question"></use>
              </svg>
              <span
                >За подробицями завітай у наш
                <a href="" class="text-blue cursor-pointer">telegram</a></span
              >
            </div>
            <div></div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="ml-2 border-green border-[1px] rounded-lg w-fit p-4">
            <img class="mb-4" src="images/activities-mock.jpg" alt="mock" />
            <p class="text-xl">М/К “Виготовлення мотанки”</p>
            <span
              class="inline-block bg-yellow text-white rounded-lg text-sm p-2 my-2 text-center"
              >діти 4-9 років</span
            >
            <p class="max-w-[360px] mb-6">
              Авьттпдррпдпожлоо апжпдпдржжророжд аппппо пжрржжржржрлржртлитлжи
              ажалмдссммдмсд
            </p>
            <div class="flex items-center gap-2">
              <svg class="w-7 h-7">
                <use href="images/sprite.svg#icon-question"></use>
              </svg>
              <span
                >За подробицями завітай у наш
                <a href="" class="text-blue cursor-pointer">telegram</a></span
              >
            </div>
            <div></div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="ml-2 border-green border-[1px] rounded-lg w-fit p-4">
            <img class="mb-4" src="images/activities-mock.jpg" alt="mock" />
            <p class="text-xl">М/К “Виготовлення мотанки”</p>
            <span
              class="inline-block bg-yellow text-white rounded-lg text-sm p-2 my-2 text-center"
              >діти 4-9 років</span
            >
            <p class="max-w-[360px] mb-6">
              Авьттпдррпдпожлоо апжпдпдржжророжд аппппо пжрржжржржрлржртлитлжи
              ажалмдссммдмсд
            </p>
            <div class="flex items-center gap-2">
              <svg class="w-7 h-7">
                <use href="images/sprite.svg#icon-question"></use>
              </svg>
              <span
                >За подробицями завітай у наш
                <a href="" class="text-blue cursor-pointer">telegram</a></span
              >
            </div>
            <div></div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="ml-2 border-green border-[1px] rounded-lg w-fit p-4">
            <img class="mb-4" src="images/activities-mock.jpg" alt="mock" />
            <p class="text-xl">М/К “Виготовлення мотанки”</p>
            <span
              class="inline-block bg-yellow text-white rounded-lg text-sm p-2 my-2 text-center"
              >діти 4-9 років</span
            >
            <p class="max-w-[360px] mb-6">
              Авьттпдррпдпожлоо апжпдпдржжророжд аппппо пжрржжржржрлржртлитлжи
              ажалмдссммдмсд
            </p>
            <div class="flex items-center gap-2">
              <svg class="w-7 h-7">
                <use href="images/sprite.svg#icon-question"></use>
              </svg>
              <span
                >За подробицями завітай у наш
                <a href="" class="text-blue cursor-pointer">telegram</a></span
              >
            </div>
            <div></div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="ml-2 border-green border-[1px] rounded-lg w-fit p-4">
            <img class="mb-4" src="images/activities-mock.jpg" alt="mock" />
            <p class="text-xl">М/К “Виготовлення мотанки”</p>
            <span
              class="inline-block bg-yellow text-white rounded-lg text-sm p-2 my-2 text-center"
              >діти 4-9 років</span
            >
            <p class="max-w-[360px] mb-6">
              Авьттпдррпдпожлоо апжпдпдржжророжд аппппо пжрржжржржрлржртлитлжи
              ажалмдссммдмсд
            </p>
            <div class="flex items-center gap-2">
              <svg class="w-7 h-7">
                <use href="images/sprite.svg#icon-question"></use>
              </svg>
              <span
                >За подробицями завітай у наш
                <a href="" class="text-blue cursor-pointer">telegram</a></span
              >
            </div>
            <div></div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <div class="flex justify-between max-xxl:justify-end">
      <button class="swiper-button-prev custom-prev-button">
        <svg class="w-4 h-4">
          <use href="images/sprite.svg#icon-arrowL"></use>
        </svg>
      </button>
      <button class="swiper-button-next custom-next-button">
        <svg class="w-4 h-4">
          <use href="images/sprite.svg#icon-arrowR"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
