<section id="contacts">
  <div class="container dark:text-green pt-9 pb-9 md:pt-12 md:pb-12 xl:pt-14 xl:pb-14">
    <h2
      class="font-semibold text-3xl lg:text-[46px] xxl:text-[64px] text-center mb-8 lg:mb-14 xxl:mb-18"
      data-lang="contacts_1"
    >
      Як нас знайти
    </h2>

    <div class="contact-wrap lg:flex items-center justify-between">
      <div
        id="map"
        class="w-[100%] h-[240px] rounded-2xl lg:w-[45%] xl:w-[50%] lg:h-[364px] xl:h-[450px] gap-20 xl:gap:56"
      ></div>

      <div class="adress-wrap">
        <h2
          class="font-semibold text-3xl text-center mb-8 mt-8 lg:mt-0 xl:mb-14"
          data-lang="contacts_2"
        >
          Контактні дані
        </h2>

        <address class="not-italic text-green text-lg xl:text-xl xxl:text-2xl">
          <ul class="flex flex-col gap-7 items-start">
            <li class="flex items-center justify-center gap-2">
              <svg class="h-8 w-8">
                <use href="images/sprite.svg#icon-location"></use>
              </svg>
              <span data-lang="contacts_3">
                Село Збини 29, Мукачівській район, Закарпатська область
              </span>
            </li>

            <li class="">
              <a
                class="flex items-center justify-center gap-2 transition-opacity hover:opacity-50"
                href="mailto:ijhnfjnvfjn@gmail.com"
              >
                <svg class="h-8 w-8">
                  <use href="images/sprite.svg#icon-mail"></use>
                </svg>
                ijhnfjnvfjn@gmail.com
              </a>
            </li>

            <li class="">
              <a
                class="flex items-center justify-center gap-2 transition-opacity hover:opacity-50"
                href="tel:+380631870301"
              >
                <svg class="h-8 w-8">
                  <use href="images/sprite.svg#icon-phone"></use>
                </svg>
                +38 063 187 03 01</a
              >
            </li>
            <li>
              <a
                class="flex items-center justify-center gap-2 transition-opacity hover:opacity-50"
                href=""
              >
                <svg class="h-8 w-8">
                  <use href="images/sprite.svg#icon-telegram"></use>
                </svg>

                @name.organization
              </a>
            </li>
          </ul>
        </address>
      </div>
    </div>
  </div>
</section>
