<section id="contribution">
  <div class="container py-9">
    <h2 class="mb-10 text-center">Запрошуємо до співпраці</h2>
    <article>
      <h2
        class="flex justify-center items-center py-[52px] px-[68px] rounded-lg bg-green text-white text-center text-[30px] font-semibold mb-5"
      >
        Волонтери
      </h2>
      <div class="py-[30px]">
        <ul class="flex flex-col pl-5 list-outside list-disc">
          <li>Lorem ipsum dolor sit amet consectetur. Aliquam augue et diam</li>
          <li>Lorem ipsum dolor sit amet consectetur. Aliquam augue et diam</li>
        </ul>
      </div>
    </article>
  </div>
</section>
