<section
  class="swiper directionsSwiper bg-yellow container px-40 py-20 max-xxxl:px-14 max-xxxl:py-20 max-xxl:px-10 max-xxl:py-14 max-xl:px-4 max-xl:py-14 max-lg:px-3 max-lg:py-10 max-md:px-4 max-md:pb-24"
>
  <ul class="swiper-wrapper flex justify-between">
    <li class="swiper-slide">
      <div class="w-44 max-xxl:w-40 max-xl:w-32 max-lg:w-[99px]">
        <div
          class="rounded-full h-44  bg-grayLight dark:bg-[#07090acc] flex justify-center items-center mb-10 max-xxl:h-40 max-xxl:mb-8 max-xl:h-32 max-lg:h-[100px] max-lg:mb-5"
        >
          <svg class="w-24 h-24 max-xl:w-16 max-xl:h-16 fill-green dark:fill-beige">
            <use href="images/sprite.svg#icon-puzzle"></use>
          </svg>
        </div>
        <span
          class="text-black text-3xl text-center inline-block max-xxl:text-2xl max-xl:text-xl max-lg:text-lg"
          data-lang="directions_1"
          >Заняття з дітьми</span
        >
      </div>
    </li>
    <li class="swiper-slide">
      <div class="w-44 max-xxl:w-40 max-xl:w-32 max-lg:w-[99px]">
        <div
          class="rounded-full h-44  bg-grayLight dark:bg-[#07090acc] flex justify-center items-center mb-10 max-xxl:h-40 max-xxl:mb-8 max-xl:h-32 max-lg:h-[100px] max-lg:mb-5"
        >
          <svg class="w-24 h-24 max-xl:w-16 max-xl:h-16 fill-green dark:fill-beige">
            <use href="images/sprite.svg#icon-earth"></use>
          </svg>
        </div>
        <span
          class="text-black text-3xl text-center inline-block max-xxl:text-2xl max-xl:text-xl max-lg:text-lg"
          data-lang="directions_2"
          >Природа та довкілля</span
        >
      </div>
    </li>
    <li class="swiper-slide">
      <div class="w-44 max-xxl:w-40 max-xl:w-32 max-lg:w-[99px]">
        <div
          class="rounded-full h-44  bg-grayLight dark:bg-[#07090acc] flex justify-center items-center mb-10 max-xxl:h-40 max-xxl:mb-8 max-xl:h-32 max-lg:h-[100px] max-lg:mb-5"
        >
          <svg class="w-24 h-24 max-xl:w-16 max-xl:h-16 fill-green dark:fill-beige">
            <use href="images/sprite.svg#icon-book"></use>
          </svg>
        </div>
        <span
          class="text-black text-3xl text-center inline-block max-xxl:text-2xl max-xl:text-xl max-lg:text-lg"
          data-lang="directions_3"
          >Уроки англійської</span
        >
      </div>
    </li>
    <li class="swiper-slide">
      <div class="w-44 max-xxl:w-40 max-xl:w-32 max-lg:w-[99px]">
        <div
          class="rounded-full h-44  bg-grayLight dark:bg-[#07090acc] flex justify-center items-center mb-10 max-xxl:h-40 max-xxl:mb-8 max-xl:h-32 max-lg:h-[100px] max-lg:mb-5"
        >
          <svg class="w-24 h-24 max-xl:w-16 max-xl:h-16 fill-green dark:fill-beige">
            <use href="images/sprite.svg#icon-paints"></use>
          </svg>
        </div>
        <span
          class="text-black text-3xl text-center inline-block max-xxl:text-2xl max-xl:text-xl max-lg:text-lg"
          data-lang="directions_4"
          >Мистецтво і рукоділля</span
        >
      </div>
    </li>
    <li class="swiper-slide">
      <div class="w-44 max-xxl:w-40 max-xl:w-32 max-lg:w-[99px]">
        <div
          class="rounded-full h-44  bg-grayLight dark:bg-[#07090acc] flex justify-center items-center mb-10 max-xxl:h-40 max-xxl:mb-8 max-xl:h-32 max-lg:h-[100px] max-lg:mb-5"
        >
          <svg class="w-24 h-24 max-xl:w-16 max-xl:h-16 fill-green dark:fill-beige">
            <use href="images/sprite.svg#icon-people"></use>
          </svg>
        </div>
        <span
          class="text-black text-3xl text-center inline-block max-xxl:text-2xl max-xl:text-xl max-lg:text-lg"
          data-lang="directions_5"
          >Підтримка громад</span
        >
      </div>
    </li>
  </ul>
  <div class="swiper-pagination"></div>
</section>
