<div class="container pt-[36px] pb-[36px]">
    <h2 class="font-semibold text-3xl leading-[40.98px] text-center mb-8">Запитання й відповіді</h2>
    <div id="accordion">
        <!-- перше питання -->
        <div class="rounded-lg border border-solid border-green mb-[10]"> 
            
            <h2 class="mb-0" id="headingOne">
              <button
                class="group relative flex w-full text-xl items-center rounded-none border-0 px-5 py-4 text-left transition [overflow-anchor:none] hover:z-[2] focus:z-[3] focus:outline-none"
                type="button"
                data-te-collapse-init
                data-te-target="#collapseOne"
                aria-expanded="false"
                aria-controls="collapseOne">
                Кому підходять заходи ?
                <span
                  class="mr-1 ml-auto h-5 w-5 shrink-0 transition-transform duration-200 ease-in-out group-[[data-te-collapse-collapsed]]:mr-0 group-[[data-te-collapse-collapsed]]:rotate-0 group-[[data-te-collapse-collapsed]]:fill-[#212529] motion-reduce:transition-none">
                  <svg class="h-5 w-5">
                    <use href="images/sprite.svg#icon-arrowD"></use></svg>
                </span>
              </button>
            </h2>
            <div
              id="collapseOne"
              class="!visible hidden"
              data-te-collapse-item
              aria-labelledby="headingOne"
              data-te-parent="#accordionExample">
              <div class="px-5 py-4 font-lato text-base tracking-wide text-green">
                <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit</strong> It is
                , sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                quis nostrud exercitation veniam, ullamco laboris nisi
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
            </div>
        </div>
        <!-- друге питання -->
        <div class="rounded-lg border border-solid border-green mb-[10]"> 
            
            <h2 class="mb-0" id="headingTwo">
              <button
                class="group relative flex w-full text-xl items-center rounded-none border-0 px-5 py-4 text-left transition [overflow-anchor:none] hover:z-[2] focus:z-[3] focus:outline-none"
                type="button"
                data-te-collapse-init
                data-te-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
>
                Як можна забронювати місце на захід ?
                <span
                  class="mr-1 ml-auto h-5 w-5 shrink-0 transition-transform duration-200 ease-in-out group-[[data-te-collapse-collapsed]]:mr-0 group-[[data-te-collapse-collapsed]]:rotate-0 group-[[data-te-collapse-collapsed]]:fill-[#212529] motion-reduce:transition-none">
                  <svg class="h-5 w-5">
                    <use href="images/sprite.svg#icon-arrowD"></use></svg>
                </span>
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="!visible hidden"
              data-te-collapse-item
              aria-labelledby="headingTwo"
              data-te-parent="#accordionExample">
              <div class="px-5 py-4 font-lato text-base tracking-wide text-green">
                Оберіть в розділі “Події” захід, який вам найбільш сподобався, ознайомтесь з його описом, тисніть на кнопку “Забронювати”. В формі, яка з’явится заповніть необхідні поля. Зверніть увагу, що у формі можна вказати не більше 3-х учасників.
              </div>
            </div>
        </div>
        <!-- трете питання -->
        <div class="rounded-lg border border-solid border-green mb-[10]"> 
            
            <h2 class="mb-0" id="headingThree">
              <button
                class="group relative flex w-full text-xl items-center rounded-none border-0 px-5 py-4 text-left transition [overflow-anchor:none] hover:z-[2] focus:z-[3] focus:outline-none"
                type="button"
                data-te-collapse-init
                data-te-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
>
                    Ваші заходи платні ?
                <span
                  class="mr-1 ml-auto h-5 w-5 shrink-0 transition-transform duration-200 ease-in-out group-[[data-te-collapse-collapsed]]:mr-0 group-[[data-te-collapse-collapsed]]:rotate-0 group-[[data-te-collapse-collapsed]]:fill-[#212529] motion-reduce:transition-none">
                  <svg class="h-5 w-5">
                    <use href="images/sprite.svg#icon-arrowD"></use></svg>
                </span>
              </button>
            </h2>
            <div
              id="collapseThree"
              class="!visible hidden"
              data-te-collapse-item
              aria-labelledby="headingThree"
              data-te-parent="#accordionExample">
              <div class="px-5 py-4 font-lato text-base tracking-wide text-green">
                <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit</strong> It is
                , sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                quis nostrud exercitation veniam, ullamco laboris nisi
                ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
            </div>
        </div>
        <!-- четверте питання -->
        <div class="rounded-lg border border-solid border-green mb-[10]"> 
            
            <h2 class="mb-0" id="headingFour">
              <button
                class="group relative flex w-full text-xl items-center rounded-none border-0 px-5 py-4 text-left transition [overflow-anchor:none] hover:z-[2] focus:z-[3] focus:outline-none"
                type="button"
                data-te-collapse-init
                data-te-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
>
                    Чи є фудкорт ?
                <span
                  class="mr-1 ml-auto h-5 w-5 shrink-0 transition-transform duration-200 ease-in-out group-[[data-te-collapse-collapsed]]:mr-0 group-[[data-te-collapse-collapsed]]:rotate-0 group-[[data-te-collapse-collapsed]]:fill-[#212529] motion-reduce:transition-none">
                  <svg class="h-5 w-5">
                    <use href="images/sprite.svg#icon-arrowD"></use></svg>
                </span>
              </button>
            </h2>
            <div
              id="collapseFour"
              class="!visible hidden"
              data-te-collapse-item
              aria-labelledby="headingFour"
              data-te-parent="#accordionExample">
              <div class="px-5 py-4 font-lato text-base tracking-wide text-green">
                <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit</strong> It is
                , sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                quis nostrud exercitation veniam, ullamco laboris nisiullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
          </div>
      </div>
      <!-- п'яте питання -->
      <div class="rounded-lg border border-solid border-green mb-[10]"> 
          
          <h2 class="mb-0" id="headingFifth">
            <button
              class="group relative flex w-full text-xl items-center rounded-none border-0 px-5 py-4 text-left transition [overflow-anchor:none] hover:z-[2] focus:z-[3] focus:outline-none"
              type="button"
              data-te-collapse-init
              data-te-target="#collapseFifth"
              aria-expanded="false"
              aria-controls="collapseFifth"
>
              Якщо не знайшли відповідь на запитання ?
              <span
                class="mr-1 ml-auto h-5 w-5 shrink-0 transition-transform duration-200 ease-in-out group-[[data-te-collapse-collapsed]]:mr-0 group-[[data-te-collapse-collapsed]]:rotate-0 group-[[data-te-collapse-collapsed]]:fill-[#212529] motion-reduce:transition-none">
                <svg class="h-5 w-5">
                  <use href="images/sprite.svg#icon-arrowD"></use></svg>
              </span>
            </button>
          </h2>
          <div
            id="collapseFifth"
            class="!visible hidden"
            data-te-collapse-item
            aria-labelledby="headingFifth"
            data-te-parent="#accordionExample">
            <div class="px-5 py-4 font-lato text-base tracking-wide text-green">
              Відповідь на будь-які поточні питання можна задати нам у <a href="">telegram</a> каналі
            </div>
          </div>
      </div>
      <!-- шосте питання -->
      <div class="rounded-lg border border-solid border-green mb-[10]"> 
          
          <h2 class="mb-0" id="headingSixth">
            <button
              class="group relative flex w-full text-xl items-center rounded-none border-0 px-5 py-4 text-left transition [overflow-anchor:none] hover:z-[2] focus:z-[3] focus:outline-none"
              type="button"
              data-te-collapse-init
              data-te-target="#collapseSixth"
              aria-expanded="false"
              aria-controls="collapseSixth"
>
              Яка мета існування організації “Зерно”?
              <span
                class="mr-1 ml-auto h-5 w-5 shrink-0 transition-transform duration-200 ease-in-out group-[[data-te-collapse-collapsed]]:mr-0 group-[[data-te-collapse-collapsed]]:rotate-0 group-[[data-te-collapse-collapsed]]:fill-[#212529] motion-reduce:transition-none">
                <svg class="h-5 w-5">
                  <use href="images/sprite.svg#icon-arrowD"></use></svg>
              </span>
            </button>
          </h2>
          <div
            id="collapseSixth"
            class="!visible hidden"
            data-te-collapse-item
            aria-labelledby="headingSixth"
            data-te-parent="#accordionExample">
            <div class="px-5 py-4 font-lato text-base tracking-wide text-green">
              <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit</strong> It is
              , sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
              quis nostrud exercitation veniam, ullamco laboris nisi
              ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
          </div>
      </div>

    </div>
</div>