<div class="container">
    <div class="footer pt-9 pb-9 relative">
        <div class="footer-top-mobile flex items-center justify-between mb-10 md:hidden">
            <svg
            class="w-[114px] h-[38px] lg:w-[180px] lg:h-[60px] xl:w-[211px] xl:h-[70px] xl:mr-20 xxl:w-[228] xxl:h-[76px] xxl:mr-28">
            <use href="images/sprite.svg#icon-zernoLogo"></use>
            </svg>
        
            <svg
            class="w-[44] h-[44px] xl:w-[60px] xl:h-[60px]">
            <use href="images/sprite.svg#icon-arrowU"></use>
            </svg>
        </div>
    
        <div class="footer-top-tablet flex items-center justify-between mb-10 max-md:hidden lg:hidden">
            <svg
            class="w-[114px] h-[38px] lg:w-[180px] lg:h-[60px] xl:w-[211px] xl:h-[70px] xl:mr-20 xxl:w-[228] xxl:h-[76px] xxl:mr-28">
            <use href="images/sprite.svg#icon-zernoLogo"></use>
            </svg>
    
            <nav class="">
                <ul class="list-none flex flex-row gap-7 text-lg text-green items-center justify-center">
                    <li><a href="" class="">Про нас</a></li>
                    <li><a href="" class="">Проєкти</a></li>
                    <li><a href="" class="">Контакти</a></li>
                    <li><a href="" class="">Співпраця</a></li>
                </ul>
    
            </nav>
    
            <svg
            class="w-[44] h-[44px] xl:w-[60px] xl:h-[60px]">
            <use href="images/sprite.svg#icon-arrowU"></use>
            </svg>
        </div>

        <div class="footer-top-desk flex items-center justify-between mb-10 max-lg:hidden">
            <svg
            class="w-[114px] h-[38px] lg:w-[180px] lg:h-[60px] xl:w-[211px] xl:h-[70px] xl:mr-20 xxl:w-[228] xxl:h-[76px] xxl:mr-28">
            <use href="images/sprite.svg#icon-zernoLogo"></use>
            </svg>
    
            <nav class="">
                <ul class="list-none flex flex-row gap-7 text-lg text-green items-center justify-center xl:text-xl">
                    <li><a href="" class="">Про нас</a></li>
                    <li><a href="" class="">Проєкти</a></li>
                    <li><a href="" class="">Контакти</a></li>
                    <li><a href="" class="">Співпраця</a></li>
                </ul>
    
            </nav>

            <ul class="flex items-center justify-center gap-10">
                <li>
                    <a href="">
                        <svg
                        class="w-[28px] h-[28px]">
                        <use href="images/sprite.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
    
                <li>
                    <a href="">
                        <svg
                        class="w-[28px] h-[28px]">
                        <use href="images/sprite.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
    
                <li>
                    <a href="">
                        <svg
                        class="w-[28px] h-[28px]">
                        <use href="images/sprite.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
    
                <li>
                    <a href="">
                        <svg
                        class="w-[28px] h-[28px]">
                        <use href="images/sprite.svg#icon-tiktok"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
     
        <div class="footer-soc-link-mob mb-10 lg:hidden">
            <ul class="flex items-center justify-center gap-10">
                <li>
                    <a href="">
                        <svg
                        class="w-[44px] h-[44px]">
                        <use href="images/sprite.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
    
                <li>
                    <a href="">
                        <svg
                        class="w-[44px] h-[44px]">
                        <use href="images/sprite.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
    
                <li>
                    <a href="">
                        <svg
                        class="w-[44px] h-[44px]">
                        <use href="images/sprite.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
    
                <li>
                    <a href="">
                        <svg
                        class="w-[44px] h-[44px]">
                        <use href="images/sprite.svg#icon-tiktok"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    
        <div class="footer-nav-mob mb-10 md:hidden">
            <nav class="">
                <ul class="list-none flex flex-col gap-7 text-lg text-green items-center justify-center">
                    <li><a href="" class="">Про нас</a></li>
                    <li><a href="" class="">Проєкти</a></li>
                    <li><a href="" class="">Контакти</a></li>
                    <li><a href="" class="">Співпраця</a></li>
                </ul>
    
            </nav>
        </div>
    
        <div class="footer-doc-list mb-10">
            <nav class="">
                <ul class="list-none flex flex-col gap-7 text-xl items-center justify-center underline md:flex-row md:gap-8">
                    <li><a href="" class="">Звітність</a></li>
                    <li><a href="" class="">Політика конфіденційності</a></li>
                    <li><a href="" class="">Правила користування сайтом</a></li>
                </ul>
    
            </nav>
        </div>
        
        <p class="text-xl text-center opacity-50 lg:text-xs">Розробка Baza Trainee Ukraine 2023 (©) Усі права захищені</p>

        <svg
        class="w-[44] h-[44px] xl:w-[60px] xl:h-[60px] max-lg:hidden absolute bottom-5 right-0">
        <use href="images/sprite.svg#icon-arrowU"></use>
        </svg>
    </div>
    
</div>