<footer>
  <div class="container">
    <div class="footer pt-9 pb-9 relative">
      <div
        class="footer-top-mobile flex items-center justify-between mb-10 md:hidden"
      >
        <svg
          class="w-[114px] h-[38px] lg:w-[180px] lg:h-[60px] xl:w-[211px] xl:h-[70px] xl:mr-20 xxl:w-[228] xxl:h-[76px] xxl:mr-28"
        >
          <use href="images/sprite.svg#icon-zernoLogo"></use>
        </svg>
      </div>

      <div
        class="footer-top-tablet flex items-center justify-between mb-10 max-md:hidden lg:hidden"
      >
        <svg
          class="w-[114px] h-[38px] lg:w-[180px] lg:h-[60px] xl:w-[211px] xl:h-[70px] xl:mr-20 xxl:w-[228] xxl:h-[76px] xxl:mr-28"
        >
          <use href="images/sprite.svg#icon-zernoLogo"></use>
        </svg>

        <nav class="">
          <ul
            class="list-none flex flex-row gap-7 text-lg text-green items-center justify-center"
          >
            <li>
              <a
                href="#missions"
                class="transition-opacity hover:opacity-50"
                data-lang="footer_1"
                >Про нас</a
              >
            </li>
            <li>
              <a
                href="#activities"
                class="transition-opacity hover:opacity-50"
                data-lang="footer_2"
                >Проєкти</a
              >
            </li>
            <li>
              <a
                href="#contacts"
                class="transition-opacity hover:opacity-50"
                data-lang="footer_3"
                >Контакти</a
              >
            </li>
            <li>
              <a
                href="#contribution"
                class="transition-opacity hover:opacity-50"
                data-lang="footer_4"
                >Співпраця</a
              >
            </li>
          </ul>
        </nav>
      </div>

      <div
        class="footer-top-desk flex items-center justify-between mb-10 max-lg:hidden"
      >
        <svg
          class="w-[114px] h-[38px] lg:w-[180px] lg:h-[60px] xl:w-[211px] xl:h-[70px] xl:mr-20 xxl:w-[228] xxl:h-[76px] xxl:mr-28"
        >
          <use href="images/sprite.svg#icon-zernoLogo"></use>
        </svg>

        <nav class="">
          <ul
            class="list-none flex flex-row gap-7 text-lg text-green items-center justify-center xl:text-xl"
          >
            <li>
              <a
                href="#missions"
                class="transition-opacity hover:opacity-50"
                data-lang="footer_5"
                >Про нас</a
              >
            </li>
            <li>
              <a
                href="#activities"
                class="transition-opacity hover:opacity-50"
                data-lang="footer_6"
                >Проєкти</a
              >
            </li>
            <li>
              <a
                href="#contacts"
                class="transition-opacity hover:opacity-50"
                data-lang="footer_7"
                >Контакти</a
              >
            </li>
            <li>
              <a
                href="#contribution"
                class="transition-opacity hover:opacity-50"
                data-lang="footer_8"
                >Співпраця</a
              >
            </li>
          </ul>
        </nav>

        <ul class="flex items-center justify-center gap-10">
          <li>
            <a href="">
              <svg
                class="w-[28px] h-[28px] transition-opacity hover:opacity-50"
              >
                <use href="images/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>

          <li>
            <a href="">
              <svg
                class="w-[28px] h-[28px] transition-opacity hover:opacity-50"
              >
                <use href="images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>

          <li>
            <a href="">
              <svg
                class="w-[28px] h-[28px] transition-opacity hover:opacity-50"
              >
                <use href="images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>

          <li>
            <a href="">
              <svg
                class="w-[28px] h-[28px] transition-opacity hover:opacity-50"
              >
                <use href="images/sprite.svg#icon-tiktok"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-soc-link-mob mb-10 lg:hidden">
        <ul class="flex items-center justify-center gap-10">
          <li>
            <a href="">
              <svg
                class="w-[44px] h-[44px] transition-opacity hover:opacity-50"
              >
                <use href="images/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>

          <li>
            <a href="">
              <svg
                class="w-[44px] h-[44px] transition-opacity hover:opacity-50"
              >
                <use href="images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>

          <li>
            <a href="">
              <svg
                class="w-[44px] h-[44px] transition-opacity hover:opacity-50"
              >
                <use href="images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>

          <li>
            <a href="">
              <svg
                class="w-[44px] h-[44px] transition-opacity hover:opacity-50"
              >
                <use href="images/sprite.svg#icon-tiktok"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-nav-mob mb-10 md:hidden">
        <nav class="">
          <ul
            class="list-none flex flex-col gap-7 text-lg text-green items-center justify-center"
          >
            <li>
              <a
                href="#missions"
                class="transition-opacity hover:opacity-50"
                data-lang="footer_9"
                >Про нас</a
              >
            </li>
            <li>
              <a
                href="#activities"
                class="transition-opacity hover:opacity-50"
                data-lang="footer_10"
                >Проєкти</a
              >
            </li>
            <li>
              <a
                href="#contacts"
                class="transition-opacity hover:opacity-50"
                data-lang="footer_11"
                >Контакти</a
              >
            </li>
            <li>
              <a
                href="#contribution"
                class="transition-opacity hover:opacity-50"
                data-lang="footer_12"
                >Співпраця</a
              >
            </li>
          </ul>
        </nav>
      </div>

      <div class="footer-doc-list mb-10">
        <nav class="">
          <ul
            class="list-none flex flex-col gap-7 dark:text-green text-xl items-center justify-center underline md:flex-row md:gap-8"
          >
            <li>
              <a
                href="documents/Zerno_Wireframe.pdf"
                target="_blank"
                rel="noopener nofollow noreferrer"
                class="transition-opacity hover:opacity-50"
                data-lang="footer_13"
                >Звітність</a
              >
            </li>
            <li>
              <a
                href="documents/Політика_конфіденційності.pdf"
                target="_blank"
                rel="noopener nofollow noreferrer"
                class="transition-opacity hover:opacity-50"
                data-lang="footer_14"
                >Політика конфіденційності</a
              >
            </li>
            <li>
              <a
                href="documents/Правила_користування_сайтом.pdf"
                target="_blank"
                rel="noopener nofollow noreferrer"
                class="transition-opacity hover:opacity-50"
                data-lang="footer_15"
                >Правила користування сайтом</a
              >
            </li>
          </ul>
        </nav>
      </div>

      <p
        class="text-xl text-center opacity-50 lg:text-xs"
        data-lang="footer_16"
      >
        Розробка Baza Trainee Ukraine 2023 (©) Усі права захищені
      </p>

      <button
        id="myBtn"
        class="top-btn dark:bg z-50 w-[44] h-[44px] xl:w-[60px] xl:h-[60px] fixed right-5 bottom-10 hover:scale-110 transition-transform cursor-pointer"
      >
        <svg class="w-[44] h-[44px] xl:w-[60px] xl:h-[60px] fill-white dark:fill-beige">
          <use href="images/sprite.svg#icon-arrowU"></use>
        </svg>
      </button>
    </div>
  </div>
</footer>
