<section
  class="container relative flex flex-col lg:flex-row items-center xxxl:py-[60px] xxxl:px-[160px] xxl:py-[60px]xxl:px-[62px] xl:py-[40px] xl:px-[56px] lg:pb-[40px] lg:pt-[110px] lg:px-[108px] md:pb-[36px] md:pt-[98px] sm:pb-[50px] sm:pt-[103px] pb-[36px] pt-[179px]"
>
  <img
    src="images/owner.png"
    alt="zerno owner"
    class="xxxl:mr-[160px] xxl:mr-[120px] lg:mr-[80px] mr-0 lg:mb-0 mb-10 rounded-full xxxl:w-[600px] xxl:w-[540px] xl:w-[460px] lg:w-[300px] sm:w-[320px] w-[310px]"
  />
  <div class="flex flex-col justify-center relative">
    <h2
      class="xl:relative xl:top-0 xl:left-0 absolute lg:top-[-170px] lg:left-[-280px] md:top-[-430px] md:left-[85px] sm:top-[-460px] top-[-475px] xxxl:mb-20 xl:mb-12 xxl:text-[46px] xl:text-[40px] xl:w-[85%] md:text-left text-center"
      data-lang="founder_1"
    >
      Пані Христина - засновниця організації
    </h2>
    <!-- тимчасовий текст -->
    <p
      class="xxl:text-3xl xl:text-2xl lg:text-xl text-lg text-green lg:text-left text-center"
      data-lang="founder_2"
    >
      Пані Христина, засновниця "Зерно", - віддана та творча особистість, яка з
      любов'ю вкладає свою енергію у волонтерську діяльність. Її візія та
      наполегливість роблять наш світ кращим, а кожен крок - сходженням до
      позитивних змін.
    </p>
  </div>
</section>
