<section
  class="container xxxl:px-[230px] xl:py-[60px] xxl:px-[48px] xl:px-[46px] lg:px-[32px] lg:py-[40px] md:pt-[36px] md:pb-[158px] sm:pt-[50px] sm:pb-[136px] pt-[36px] pb-[122px] relative"
>
  <h2
    class="text-center dark:text-green xxl:text-[64px] xl:text-[46px] lg:text-[40px] text-[30px] xxl:mb-[56px] lg:mb-[48px] mb-[40px]"
    data-lang="gallery_1"
  >
    Галерея
  </h2>
  <div class="gallery-swiper-container overflow-hidden relative">
    <ul
      id="gallery-swiper-wrap"
      class="lg:flex lg:flex-wrap lg:gap-[20px] xl:gap-[30px] lg:justify-center"
    >
      <li
        class="gallery-slide w-[226px] h-[174px] lg:w-[300px] lg:h-[300px] xl:w-[380px] xl:h-[326px] xxl:w-[426px] xxl:h-[400px] flex justify-center items-center overflow-hidden rounded-xl"
      >
        <img
          class="w-full h-full object-cover object-center"
          src="images/gallery-1.jpg"
          alt=""
        />
      </li>
      <li
        class="gallery-slide w-[226px] h-[174px] lg:w-[300px] lg:h-[300px] xl:w-[380px] xl:h-[326px] xxl:w-[426px] xxl:h-[400px] flex justify-center items-center overflow-hidden rounded-xl"
      >
        <img
          class="w-full h-full object-cover object-center"
          src="images/gallery-2.jpg"
          alt=""
        />
      </li>
      <li
        class="gallery-slide w-[226px] h-[174px] lg:w-[300px] lg:h-[300px] xl:w-[380px] xl:h-[326px] xxl:w-[426px] xxl:h-[400px] flex justify-center items-center overflow-hidden rounded-xl"
      >
        <img
          class="w-full h-full object-cover object-center"
          src="images/gallery-3.jpg"
          alt=""
        />
      </li>
      <li
        class="gallery-slide w-[226px] h-[174px] lg:w-[300px] lg:h-[300px] xl:w-[380px] xl:h-[326px] xxl:w-[426px] xxl:h-[400px] flex justify-center items-center overflow-hidden rounded-xl"
      >
        <img
          class="w-full h-full object-cover"
          src="images/gallery-4.jpg"
          alt=""
        />
      </li>
      <li
        class="gallery-slide w-[226px] h-[174px] lg:w-[300px] lg:h-[300px] xl:w-[380px] xl:h-[326px] xxl:w-[426px] xxl:h-[400px] flex justify-center items-center overflow-hidden rounded-xl"
      >
        <img
          class="w-full h-full object-cover"
          src="images/gallery-5.jpg"
          alt=""
        />
      </li>
      <li
        class="gallery-slide w-[226px] h-[174px] lg:w-[300px] lg:h-[300px] xl:w-[380px] xl:h-[326px] xxl:w-[426px] xxl:h-[400px] flex justify-center items-center overflow-hidden rounded-xl"
      >
        <img
          class="w-full h-full object-cover"
          src="images/gallery-6.jpg"
          alt=""
        />
      </li>
    </ul>
  </div>
  <div id="gallery-button-prev"></div>
  <div id="gallery-button-next"></div>
</section>

<script>
  const screenWidth = window.innerWidth;

  if (screenWidth < 1024) {
    const gallerySwiperContainer = document.querySelector(
      '.gallery-swiper-container'
    );

    const swiperWrap = document.querySelector('#gallery-swiper-wrap');
    swiperWrap.classList.add('swiper-wrapper');

    const allSlides = document.querySelectorAll('.gallery-slide');
    allSlides.forEach(slide => {
      slide.classList.add('w-[226px]');
      slide.classList.add('swiper-slide');
    });

    const buttonPrev = document.querySelector('#gallery-button-prev');
    buttonPrev.classList.add('gallery-swiper-button-prev');
    const buttonNext = document.querySelector('#gallery-button-next');
    buttonNext.classList.add('gallery-swiper-button-next');

    const swiper = new Swiper(gallerySwiperContainer, {
      slidesPerView: 2,
      spaceBetween: 0,
      centeredSlidesBounds: true,
      navigation: {
        nextEl: '.gallery-swiper-button-next',
        prevEl: '.gallery-swiper-button-prev',
      },
      breakpoints: {
        320: {
          slidesPerView: 'auto',
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 3,
          spaceBetween: 20,
        },
      },
    });
  }
</script>
