<section
  class="container xxxl:px-[230px] xl:py-[60px] xxl:px-[48px] xl:px-[46px]
  lg:px-[32px] lg:py-[40px] md:pt-[36px] md:pb-[158px] sm:pt-[50px] sm:pb-[136px]
  pt-[36px] pb-[122px] relative"
>
  <h2
    class="text-center xxl:text-[64px] xl:text-[46px] lg:text-[40px] text-[30px]
    xxl:mb-[56px] lg:mb-[48px] mb-[40px]"
  >
    Галерея
  </h2>
  <div class="gallery-swiper-container overflow-hidden relative">
    <ul id="gallery-swiper-wrap" class="lg:flex lg:flex-wrap">
      <li
        class="gallery-slide xxxl:mr-[31px] xxl:mr-[19px] xl:mr-[24px] lg:mr-[30px]
        xxl:mb-[40px] xl:mb-[48px] lg:mb-[32px]"
      >
        <picture>
          <source
            srcset="images/gallery_dummy_1920.png"
            media="(min-width: 1920px)"
          />
          <source
            srcset="images/gallery_dummy_1536.png"
            media="(min-width: 1536px)"
          />
          <source
            srcset="images/gallery_dummy_1280.png"
            media="(min-width: 1280px)"
          />
          <source
            srcset="images/gallery_dummy_1024.png"
            media="(min-width: 1024px)"
          />
          <source
            srcset="images/gallery_dummy_768.png"
            media="(max-width: 1024px)"
          />
          <img src="images/gallery_dummy_1920.png" alt="gallery item" />
        </picture>
      </li>
      <li
        class="gallery-slide xxxl:mr-[31px] xxl:mr-[19px] xl:mr-[24px] lg:mr-[30px]
        xxl:mb-[40px] xl:mb-[48px] lg:mb-[32px]"
      >
        <picture>
          <source
            srcset="images/gallery_dummy_1920.png"
            media="(min-width: 1920px)"
          />
          <source
            srcset="images/gallery_dummy_1536.png"
            media="(min-width: 1536px)"
          />
          <source
            srcset="images/gallery_dummy_1280.png"
            media="(min-width: 1280px)"
          />
          <source
            srcset="images/gallery_dummy_1024.png"
            media="(min-width: 1024px)"
          />
          <source
            srcset="images/gallery_dummy_768.png"
            media="(max-width: 1024px)"
          />
          <img src="images/gallery_dummy_1920.png" alt="gallery item" />
        </picture>
      </li>
      <li class="gallery-slide xxl:mb-[40px] xl:mb-[48px] lg:mb-[32px]">
        <picture>
          <source
            srcset="images/gallery_dummy_1920.png"
            media="(min-width: 1920px)"
          />
          <source
            srcset="images/gallery_dummy_1536.png"
            media="(min-width: 1536px)"
          />
          <source
            srcset="images/gallery_dummy_1280.png"
            media="(min-width: 1280px)"
          />
          <source
            srcset="images/gallery_dummy_1024.png"
            media="(min-width: 1024px)"
          />
          <source
            srcset="images/gallery_dummy_768.png"
            media="(max-width: 1024px)"
          />
          <img src="images/gallery_dummy_1920.png" alt="gallery item" />
        </picture>
      </li>
      <li
        class="gallery-slide xxxl:mr-[31px] xxl:mr-[19px] xl:mr-[24px] lg:mr-[30px]"
      >
        <picture>
          <source
            srcset="images/gallery_dummy_1920.png"
            media="(min-width: 1920px)"
          />
          <source
            srcset="images/gallery_dummy_1536.png"
            media="(min-width: 1536px)"
          />
          <source
            srcset="images/gallery_dummy_1280.png"
            media="(min-width: 1280px)"
          />
          <source
            srcset="images/gallery_dummy_1024.png"
            media="(min-width: 1024px)"
          />
          <source
            srcset="images/gallery_dummy_768.png"
            media="(max-width: 1024px)"
          />
          <img src="images/gallery_dummy_1920.png" alt="gallery item" />
        </picture>
      </li>
      <li
        class="gallery-slide xxxl:mr-[31px] xxl:mr-[19px] xl:mr-[24px] lg:mr-[30px]"
      >
        <picture>
          <source
            srcset="images/gallery_dummy_1920.png"
            media="(min-width: 1920px)"
          />
          <source
            srcset="images/gallery_dummy_1536.png"
            media="(min-width: 1536px)"
          />
          <source
            srcset="images/gallery_dummy_1280.png"
            media="(min-width: 1280px)"
          />
          <source
            srcset="images/gallery_dummy_1024.png"
            media="(min-width: 1024px)"
          />
          <source
            srcset="images/gallery_dummy_768.png"
            media="(max-width: 1024px)"
          />
          <img src="images/gallery_dummy_1920.png" alt="gallery item" />
        </picture>
      </li>
      <li class="gallery-slide">
        <picture>
          <source
            srcset="images/gallery_dummy_1920.png"
            media="(min-width: 1920px)"
          />
          <source
            srcset="images/gallery_dummy_1536.png"
            media="(min-width: 1536px)"
          />
          <source
            srcset="images/gallery_dummy_1280.png"
            media="(min-width: 1280px)"
          />
          <source
            srcset="images/gallery_dummy_1024.png"
            media="(min-width: 1024px)"
          />
          <source
            srcset="images/gallery_dummy_768.png"
            media="(max-width: 1024px)"
          />
          <img src="images/gallery_dummy_1920.png" alt="gallery item" />
        </picture>
      </li>
    </ul>
  </div>
  <div id="gallery-button-prev"></div>
  <div id="gallery-button-next"></div>
</section>

<script>
  const screenWidth = window.innerWidth;

  if (screenWidth < 1024) {
    const gallerySwiperContainer = document.querySelector(
      '.gallery-swiper-container'
    );

    const swiperWrap = document.querySelector('#gallery-swiper-wrap');
    swiperWrap.classList.add('swiper-wrapper');

    const allSlides = document.querySelectorAll('.gallery-slide');
    allSlides.forEach(slide => {
      slide.classList.add('w-[226px]');
      slide.classList.add('swiper-slide');
    });

    const buttonPrev = document.querySelector('#gallery-button-prev');
    buttonPrev.classList.add('gallery-swiper-button-prev');
    const buttonNext = document.querySelector('#gallery-button-next');
    buttonNext.classList.add('gallery-swiper-button-next');

    const swiper = new Swiper(gallerySwiperContainer, {
      slidesPerView: 2,
      spaceBetween: 0,
      centeredSlidesBounds: true,
      navigation: {
        nextEl: '.gallery-swiper-button-next',
        prevEl: '.gallery-swiper-button-prev',
      },
      breakpoints: {
        480: {
          slidesPerView: 2,
          spaceBetween: 0,
        },
        768: {
          slidesPerView: 3,
          spaceBetween: 0,
        },
      },
    });
  }
</script>
