<header id="header">
  <div class="container flex justify-between items-center py-2.5">
    <svg class="w-[114px] h-[38px]">
      <use href="./images/sprite.svg#icon-zernoLogo"></use>
    </svg>
    <div class="inline-flex gap-[30px]">
      <div class="flex items-center gap-[9px]">
        <span class="text-green">UA</span
        ><svg class="w-5 h-5">
          <use href="./images/sprite.svg#icon-arrowD"></use>
        </svg>
      </div>
      <nav>
        <svg class="w-11 h-11">
          <use href="./images/sprite.svg#icon-burger"></use>
        </svg>
      </nav>
    </div>
  </div>
</header>
