<section
  id="hero"
  class="pb-[72px] sm:pb-[50px] md:pb-[64px] lg:pt-6 xl:pt-7 xxl:pt-10 xxl:pb-24"
>
  <img class="lg:hidden" src="./images/hero-lg.jpg" alt="hero image" />
  <div
    class="lg:bg-[url('./images/hero-lg.jpg')] xxl:bg-[url('./images/hero-xxl.jpg')] xxxl:bg-[url('./images/hero-xxxl.jpg')] bg-cover container lg:flex lg:bg-grayLight lg:h-[545px] xl:h-[700px] xxl:h-[790px]"
  >
    <div
      class="lg:w-[400px] lg:pl-[15px] xl:w-[530px] xl:pl-[70px] xxl:w-[640px] xxxl:pl-[80px] xxxl:w-[730px] lg:bg-grayLight/80 lg:-ml-[15px] xl:-ml-[40px] xxl:-ml-[48px] xxxl:-ml-[80px] text-green flex flex-col gap-10 sm:gap-8 md:gap-12 lg:gap-11 lg:pb-0 lg:pt-14 sm:text-center md:text-left xl:py-32 xl:px-8 xxl:py-16 xxl:px-7 xxxl:px-0 xxxl:pr-20"
    >
      <p
        class="uppercase font-semibold text-[60px] sm:text-[80px] lg:text-[64px] xxl:text-[96px] max-w-[306px] sm:max-w-full"
      >
        <span data-lang="hero_1">відчуй</span> <br />
        <span data-lang="hero_2">твори</span> <br />
        <span data-lang="hero_3">надихай</span>
      </p>
      <h1 class="px-5 lg:px-0" data-lang="hero_4">
        ГО Зерно визначає критерії щасливого життя, навчає жити щасливо
      </h1>
      <div class="lg:hidden">
        <include src="./partials/donatBtn.html"></include>
      </div>
    </div>
  </div>
</section>
