<section
  id="missions"
  class="container flex bg-green opacity-90 gap-14 px-20 py-20 max-xxxl:px-12 max-xxxl:py-20 max-xxl:gap-12 max-xl:px-28 max-xl:py-14 max-lg:bg-white max-lg:p-0 max-xl:flex-col max-lg:gap-6 max-sm:gap-2"
>
  <div
    class="bg-green text-white w-1/3 max-xl:w-full max-lg:px-3 max-lg:py-10 max-md:px-1"
  >
    <h3 class="text-center mb-10 max-xxl:mb-6" data-lang="missions_1">Місія</h3>
    <p
      class="mb-5 text-3xl tracking-wide max-xxl:text-2xl max-xl:text-xl max-lg:text-lg max-lg:text-center"
      data-lang="missions_2"
    >
      Наша місія - працювати задля підвищення рівня щастя в сільських громадах.
    </p>
    <p
      class="mb-5 text-3xl tracking-wide max-xxl:text-2xl max-xl:text-xl max-lg:text-lg max-lg:text-center"
      data-lang="missions_3"
    >
      Слоган: вміти бути щасливим!
    </p>
    <p
      class="text-3xl tracking-wide max-xxl:text-2xl max-xl:text-xl max-lg:text-lg max-lg:text-center"
      data-lang="missions_4"
    >
      Ведемо велику просвітницьку роботу серед дітей та підлітків -
      майстер-класи, дискусійні клуби, організовуємо дозвілля для сільських
      дітей та ВПО.
    </p>
  </div>
  <div
    class="bg-green text-white w-1/3 max-xl:w-full max-lg:px-3 max-lg:py-10 max-md:px-1"
  >
    <h3 class="text-center mb-10 max-xxl:mb-6" data-lang="missions_5">Цілі</h3>
    <p
      class="text-3xl tracking-wide max-xxl:text-2xl max-xl:text-xl max-lg:text-lg max-lg:text-center"
      data-lang="missions_6"
    >
      Збереження традицій, виховання ЕКО свідомої молоді, мотивація на навички
      щасливих та успішних людей, розвиток жіночого підприємництва та жіночого
      дозвілля на селі.
    </p>
  </div>
  <div
    class="bg-green text-white w-1/3 max-xl:w-full max-lg:px-3 max-lg:py-10 max-md:px-1"
  >
    <h3 class="text-center mb-10 max-xxl:mb-6" data-lang="missions_7">
      Задачі
    </h3>
    <p
      class="mb-5 text-3xl tracking-wide max-xxl:text-2xl max-xl:text-xl max-lg:text-lg max-lg:text-center"
      data-lang="missions_8"
    >
      Організувати постійно діючі творчі та спортивні гуртки для сільської
      молоді.
    </p>
    <p
      class="mb-5 text-3xl tracking-wide max-xxl:text-2xl max-xl:text-xl max-lg:text-lg max-lg:text-center"
      data-lang="missions_9"
    >
      Cтворити безпечний, творчий, розвиваючий простір для сільських жінок.
    </p>
    <p
      class="text-3xl tracking-wide max-xxl:text-2xl max-xl:text-xl max-lg:text-lg max-lg:text-center"
      data-lang="missions_10"
    >
      Oрганізувати рекреаційні табори для дітей, що постраждали від війни.
    </p>
  </div>
</section>
