<section
  id="missions"
  class="container flex bg-green opacity-90 gap-14 px-20 py-20 max-xxxl:px-12 max-xxxl:py-20 max-xxl:gap-12 max-xl:px-28 max-xl:py-14 max-lg:bg-white max-lg:p-0 max-xl:flex-col max-lg:gap-6 max-sm:gap-2"
>
  <div
    class="bg-green text-white w-1/3 max-xl:w-full max-lg:px-3 max-lg:py-10 max-md:px-1"
  >
    <h3 class="text-center mb-10 max-xxl:mb-6">Місія</h3>
    <p
      class="text-3xl tracking-wide max-xxl:text-2xl max-xl:text-xl max-lg:text-lg max-lg:text-center"
    >
      Створення приязного простору для дітей
    </p>
  </div>
  <div
    class="bg-green text-white w-1/3 max-xl:w-full max-lg:px-3 max-lg:py-10 max-md:px-1"
  >
    <h3 class="text-center mb-10 max-xxl:mb-6">Цілі</h3>
    <p
      class="text-3xl tracking-wide max-xxl:text-2xl max-xl:text-xl max-lg:text-lg max-lg:text-center"
    >
      Птмвлтл тсдлывтлдствсл ллд ддл. Длороливсо р ориол іфв оттф. Боилосвіс ысс
      лдіію хвьс. Нроиосві счя фвфІ юль олтлтюб. Аоисіл іс фічяч фівфів дль.
      Слтс фівчіячс фівфіс дюьдь риои сімчяс
    </p>
  </div>
  <div
    class="bg-green text-white w-1/3 max-xl:w-full max-lg:px-3 max-lg:py-10 max-md:px-1"
  >
    <h3 class="text-center mb-10 max-xxl:mb-6">Задачі</h3>
    <p
      class="text-3xl tracking-wide max-xxl:text-2xl max-xl:text-xl max-lg:text-lg max-lg:text-center"
    >
      Птмвлтл тсдлывтлдствсл ллд лдл. Длороливсо р ориол іфв оттф. Боилосвіс ысс
      лдіію хвьс. Нроиосві счя фвфІ юль олтлтюб.
    </p>
  </div>
</section>
