<div
  data-donat-modal
  class="fixed flex justify-center top-0 left-0 w-full h-[100vh] bg-black/40 overflow-y-scroll hidden"
  style="z-index: 9999"
>
  <div
    class="absolute flex flex-col gap-12 items-center top-[65px] lg:top-64 w-full lg:w-[744px] xxl:w-[800px] bg-white dark:bg-darkTheme dark:text-green py-12 lg:py-16 xxl:py-20"
  >
    <h2
      class="text-center w-[200px] lg:w-[470px] xl:w-[540px] xxl:w-[600px] xxl:text-[46px]"
      data-lang="modal_1"
    >
      Оберіть суму пожертви для ГО Зерно
    </h2>
    <form id="amountForm" class="flex flex-col items-center gap-8 lg:gap-y-4">
      <div
        class="flex gap-x-2 gap-y-4 lg:gap-x-8 justify-center lg:w-full flex-wrap w-[266px] sm:w-[330px]"
      >
        <div>
          <input
            class="appearance-none"
            type="radio"
            id="50"
            value="50"
            name="amount"
          />
          <label
            class="inline-flex bg-grayLight dark:bg-black dark:text-beige justify-center items-center w-20 sm:w-24 lg:w-auto lg:px-4 h-8 border border-black dark:border-beige dark:border-beige rounded-lg border-solid transition-colors hover:border-yellow cursor-pointer"
            for="50"
            >50 UAH</label
          >
        </div>
        <div>
          <input
            class="appearance-none"
            type="radio"
            id="100"
            value="100"
            name="amount"
          />
          <label
            class="inline-flex bg-grayLight dark:bg-black dark:text-beige justify-center items-center w-20 sm:w-24 lg:w-auto lg:px-4 h-8 border border-black dark:border-beige rounded-lg border-solid transition-colors hover:border-yellow cursor-pointer"
            for="100"
            >100 UAH</label
          >
        </div>
        <div>
          <input
            class="appearance-none"
            type="radio"
            id="200"
            value="200"
            name="amount"
          />
          <label
            class="inline-flex bg-grayLight dark:bg-black dark:text-beige justify-center items-center w-20 sm:w-24 lg:w-auto lg:px-4 h-8 border border-black dark:border-beige rounded-lg border-solid transition-colors hover:border-yellow cursor-pointer"
            for="200"
            >200 UAH</label
          >
        </div>
        <div>
          <input
            class="appearance-none"
            type="radio"
            id="500"
            value="500"
            name="amount"
          />
          <label
            class="inline-flex bg-grayLight dark:bg-black dark:text-beige justify-center items-center w-20 sm:w-24 lg:w-auto lg:px-4 h-8 border border-black dark:border-beige rounded-lg border-solid transition-colors hover:border-yellow cursor-pointer"
            for="500"
            >500 UAH</label
          >
        </div>
        <div>
          <input
            class="appearance-none"
            type="radio"
            id="1000"
            value="1000"
            name="amount"
          />
          <label
            class="inline-flex bg-grayLight dark:bg-black dark:text-beige justify-center items-center w-20 sm:w-24 lg:w-auto lg:px-4 h-8 border border-black dark:border-beige rounded-lg border-solid transition-colors hover:border-yellow cursor-pointer"
            for="1000"
            >1000 UAH</label
          >
        </div>
      </div>
      <div class="flex justify-center gap-3 lg:gap-8 xxl:gap-11 lg:mt-[-22px]">
        <div class="hidden md:block">
          <input
            class="appearance-none"
            type="radio"
            id="onece"
            value="onece"
            name="period"
          />
          <label
            class="inline-flex bg-grayLight dark:bg-black dark:text-beige justify-center items-center w-36 lg:w-full px-8 xxl:px-12 h-9 border border-black dark:border-beige rounded-lg border-solid transition-colors hover:border-yellow cursor-pointer"
            for="onece"
            data-lang="modal_2"
            >Одноразово</label
          >
        </div>
        <div>
          <input
            class="appearance-none"
            type="radio"
            id="week"
            value="week"
            name="period"
          />
          <label
            class="inline-flex bg-grayLight dark:bg-black dark:text-beige justify-center items-center w-36 lg:w-full px-8 xxl:px-12 h-9 border border-black dark:border-beige rounded-lg border-solid transition-colors hover:border-yellow cursor-pointer"
            for="week"
            data-lang="modal_3"
            >Щотижня</label
          >
        </div>
        <div>
          <input
            class="appearance-none"
            type="radio"
            id="month"
            value="month"
            name="period"
          />
          <label
            class="inline-flex bg-grayLight dark:bg-black dark:text-beige justify-center items-center w-36 lg:w-full px-8 xxl:px-12 h-9 border border-black dark:border-beige rounded-lg border-solid transition-colors hover:border-yellow cursor-pointer"
            for="month"
            data-lang="modal_4"
            >Щомісячно</label
          >
        </div>
      </div>
      <p class="font-semibold text-xl" data-lang="modal_5">або введіть суму</p>
      <div class="w-full relative lg:w-96">
        <input
          data-lang="modal_7"
          class="appearance-none py-5 px-2 w-full dark:placeholder:text-beige bg-grayLight dark:bg-black dark:text-beige border border-black dark:border-beige rounded-lg border-solid transition-colors hover:border-yellow focus-visible:outline-yellow"
          type="number"
          pattern="[0-9]*"
          inputmode="numeric"
          oninput="this.value = this.value.replace(/[^0-9]/g, '');"
          value=""
          min="1"
          placeholder="Введіть суму"
        />
        <span class="absolute right-2 top-[22px] bg-grayLight dark:bg-black dark:text-beige">UAH</span>
      </div>
      <!-- <button
        class="bg-greenBTN text-white text-[22px] py-[14px] lg:py-[4px] xl:py-[9px] xxl:py-[14px] rounded-lg sm:px-[23px] text-[34px] lg:text-[22px] xl:text-2xl xxl:text-[34px] w-full sm:w-[400px] lg:w-[260px] xxl:w-[360px] xxxl:w-[410px] outline-none transition-all hover:outline-2 hover:outline-offset-4 hover:outline-greenBTN"
        type="submit"
      >
        Підтримати проєкт
      </button> -->
      <a
        href="https://send.monobank.ua/jar/6hjFL2zS5U"
        target="_blank"
        class="bg-greenBTN text-center text-white dark:text-beige py-[14px] lg:mt-7 lg:py-[4px] xl:py-[9px] xxl:py-[14px] rounded-lg sm:px-[23px] text-[34px] lg:text-[22px] xl:text-2xl xxl:text-[34px] w-full sm:w-[400px] lg:w-96 outline-none transition-all hover:outline-2 hover:outline-offset-4 hover:outline-greenBTN"
        data-lang="modal_6"
        >Підтримати проєкт</a
      >
    </form>
    <button
      donat-close-btn
      class="absolute right-3 top-3 md:right-5 md:top-5 transition-opacity hover:opacity-50"
      type="button"
    >
      <svg class="w-6 h-6 xl:w-8 xl:h-8 fill-black dark:fill-green">
        <use href="images/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</div>
