<section id="partners">
  <div class="container py-9 md:pt-7 lg:py-10 xxl:py-[60px]">
    <h2 class="font-bold text-center">Наші партнери</h2>
    <div class="my-[5px] sm:my-2 md:my-10 lg:mt-[48px] lg:mb-0 xxl:mt-[56px]">
      <ul class="py-10 flex flex-row justify-center md:p-0">
        <li
          class="mr-[15px] last:mr-0 sm:mr-[30px] md:mr-5 lg:mr-10 xl:mr-8 xxl:mr-12 xxxl:mr-[72px]"
        >
          <img
            class="lg:w-[140] xl:w-[160px] xl:h-[160px] xxl:w-[180px] xxl:h-[180px]"
            src="../src/images/baza_trainee.png"
            alt="baza trainee logo"
            width="150"
          />
        </li>
           </ul>
    </div>
  </div>
</section>
