<section id="subscription">
  <div class="container py-9 lg:px-0 lg:py-10 xl:pt-[60px] xxl:pb-[60px]">
    <div
      class="flex flex-col items-center py-10 bg-[#DEB84A] text-white text-center md:pt-10 md:pb-20 lg:py-14 lg:px-[108px] lg:content-normal"
    >
      <div class="sm:w-[330px] md:w-max mb-10 lg:mb-12 xl:mb-[90px] xxxl:mb-[115px]">
        <h2>Бажаєш приєднатись до команди ?</h2>
      </div>
      <div class="flex flex-col items-center lg:flex-row lg:content-normal">
        <div class="lg:mr-[200px] xl:mr-[237px] xxl:mr-[263px] xxxl:mr-[340px]">
          <p
            class="text-3xl font-normal mb-9 sm:mb-8 md:mb-10 lg:mb-8 xl:font-semibold xl:mb-[60px] xxxl:mb-[64px]"
          >
            Хочу підтримати
          </p>
          <div
            class="w-[310px] flex justify-center items-center bg-greenBTN rounded-lg text-white text-[34px] font-semibold py-2 mb-10 sm:w-[400px] md:mb-14 lg:w-[300px] lg:mb-0 xl:w-[350px] xxl:w-[460px] xxxl:w-[560px]"
          >
            <a
              href="https://send.monobank.ua/jar/6hjFL2zS5U"
              target="_blank"
              rel="noreferrer"
            >
              Підтримати проєкт
            </a>
          </div>
        </div>
        <div >
          <p
            class="text-3xl font-normal mb-8 md:mb-10 lg:mb-8 xl:mb-[60px] xxxl:mb-[64px]"
          >
            Хочу допомогти
          </p>
          <div
            class="w-[310px] flex justify-center items-center py-1 text-black text-[34px] font-extrabold font-[Manrope] border-solid border-[5px] rounded-lg sm:w-[472px] lg:w-[300px] xl:w-[350px] xxl:w-[460px] xxxl:w-[560px]"
          >
            <a href="" target="_blank" rel="noreferrer"> Заповнити форму </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
