@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-[96px];
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
  }
  h2 {
    @apply text-[64px];
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
  }
  h3 {
    @apply text-[30px] lg:text-[40px] xxl:text-[46px];
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
  }
  html {
    font-family: 'Lato', sans-serif;
    @apply text-black;
  }
}

.is-hidden {
  @apply translate-x-full opacity-0;
}
