@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-[18px] md:text-[40px] lg:text-[20px] xl:text-[28px] xxl:text-[40px];
    font-family: 'Lato', sans-serif;
    line-height: 120%;
  }
  h2 {
    @apply text-[30px] lg:text-[40px] xl:text-[46px] xxl:text-[64px];
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
  }
  h3 {
    @apply text-[30px] lg:text-[40px] xxl:text-[46px];
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
  }
  html {
    font-family: 'Lato', sans-serif;
    @apply scroll-smooth text-black;
  }
}

.is-hidden {
  @apply opacity-0 -z-10;
}

.directionsSwiper .swiper-slide {
  width: fit-content !important;
}

.directionsSwiper .swiper-slide:last-child {
  margin: 0 !important;
}

.directionsSwiper .swiper-pagination-bullet,
.activitiesSwiper .swiper-pagination-bullet {
  background-color: #dad8d5;
  opacity: 1;
  width: 1rem;
  height: 1rem;
}

.directionsSwiper .swiper-pagination-bullet-active,
.activitiesSwiper .swiper-pagination-bullet-active {
  background-color: #727d57;
}

.directionsSwiper .swiper-pagination {
  bottom: 2.25rem !important;
}

.activities .swiper-button-next::after,
.swiper-button-prev::after {
  content: '';
}

.activities .swiper-button-prev,
.activities .swiper-button-next {
  position: relative;
  bottom: 300px;
}

.activities .swiper-button-prev {
  left: -80px;
}

.activities .swiper-button-next {
  right: -80px;
}

.activities .categories .active {
  background: #727d57;
  color: white !important;
}

.activitiesSwiper .swiper-pagination {
  bottom: -40px;
  position: relative;
}

.activities .swiper {
  overflow-y: visible;
  height: 590px;
}

.activities .swiper-wrapper {
  height: fit-content;
}

@media screen and (max-width: 1536px) {
  .activities .swiper-button-prev,
  .activities .swiper-button-next {
    bottom: 620px;
  }

  .activities .swiper-button-prev {
    left: -30px;
  }

  .activities .swiper-button-next {
    right: 0;
  }
}

@media screen and (max-width: 1279px) {
  .activities .swiper-button-prev,
  .activities .swiper-button-next {
    bottom: 300px;
  }

  .activities .swiper-button-prev {
    left: -10px;
  }

  .activities .swiper-button-next {
    right: -10px;
  }
}

@media screen and (max-width: 1024px) {
  .activities .swiper-button-prev,
  .activities .swiper-button-next {
    bottom: 40px;
  }

  .activities .swiper-button-prev {
    left: 40px;
  }

  .activities .swiper-button-next {
    right: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .activities .swiper-button-prev {
    left: 100px;
  }

  .activities .swiper-button-next {
    right: 100px;
  }
}

@media screen and (max-width: 1024px) {
  .activities .swiper-button-prev {
    left: 0px;
  }

  .activities .swiper-button-next {
    right: 0px;
  }
}

.swiper-pagination-bullet {
  background-color: #727d57; /* Замените на ваш цвет */
}

.gallery-swiper-button-prev,
.gallery-swiper-button-next {
  width: 44px;
  height: 44px;
  position: absolute;
  bottom: 0;
  z-index: 10;
}

.gallery-swiper-button-prev {
  left: 10px;
  transform: translateY(-50%);
  background-image: url(images/gallery_arrow_prev.png);
}

.gallery-swiper-button-next {
  right: 10px;
  transform: translateY(-50%);
  background-image: url(images/gallery_arrow_next.png);
}

