@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-[96px];
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
  }
  h2 {
    @apply text-[30px] md:text-[40px] lg:text-[46px] xxl:text-[64px];
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
  }
  h3 {
    @apply text-[30px] lg:text-[40px] xxl:text-[46px];
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
  }
  html {
    font-family: 'Lato', sans-serif;
    @apply text-black;
  }
}

.is-hidden {
  @apply opacity-0 -z-10;
}

.directionsSwiper .swiper-slide,
.activitiesSwiper .swiper-slide {
  width: fit-content !important;
}

.directionsSwiper .swiper-slide:last-child {
  margin: 0 !important;
}

.directionsSwiper .swiper-pagination-bullet,
.activitiesSwiper .swiper-pagination-bullet {
  background-color: #DAD8D5;
  opacity: 1;
  width: 1rem;
  height: 1rem;
}

.directionsSwiper .swiper-pagination-bullet-active,
.activitiesSwiper .swiper-pagination-bullet-active {
  background-color: #727D57;
}

.directionsSwiper .swiper-pagination {
  bottom: 2.25rem !important;
}

.activities .swiper-button-next::after, .swiper-button-prev::after {
  content: "";
}

.activities .swiper-button-prev,
.activities .swiper-button-next {
  position: relative;
  bottom: 300px;
}

.activities .swiper-button-prev {
  left: -80px;
}

.activities .swiper-button-next {
  right: -80px;
}

.activities .categories .active {
  background: #727D57;
  color: white !important;
}

.activitiesSwiper .swiper-pagination {
  bottom: -48px;
  position: relative;
}

.activities .swiper {
  overflow-y: visible;
  height: 550px;
}

.activities .swiper-wrapper {
  height: fit-content;
}

@media screen and (max-width: 1536px){
  .activities .swiper-button-prev,
  .activities .swiper-button-next {

    bottom: 580px;
  }

  .activities .swiper-button-prev {
    left: -40px;
  }

  .activities .swiper-button-next {
    right: 0;
  }
}